/* These are all the updates and overrides to the existing 
style.css. This file is seperate file named updates-overrides.css 
in development/testing environment. */

.content__title {
    font-size: 3.5rem !important;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, .8) !important;
}

.menu .fas {
    /* margin-left: 15px !important; */
}

.ticket,
.tickett {
    z-index: 13000;
}

.btn-dark {
    background-color: transparent !important;
    border-color: transparent !important;
}

@media (max-width: 991px) {
    .menu {
        font-size: 6vw !important
    }
}

@media (max-width: 768px) {
    .foot-email {
        display: block !important;
        margin-bottom: 20px !important;
    }
    .content__title {
        font-size: 2.2rem !important;
        color: rgba(255, 255, 255, .8) !important;
    }
    .menu {
        margin-top: -90px !important;
        font-size: 5vw !important;
    }
    .menu__item {
        margin: 5px 0 22px 0 !important;
    }
    .mobile-top-bg {
        height: 80px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9000;
        background: rgb(25, 25, 25, .7);
        width: 100%;
        backdrop-filter: saturate(200%) blur(20px);
        -webkit-backdrop-filter: saturate(200%) blur(20px);
    }
    .mobile-top-bg:before {
        display: block;
        width: 100%;
        height: .1875rem;
        background-image: -webkit-linear-gradient(left, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
        background-image: linear-gradient(to right, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
        content: '';
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .skill-container ul {
        padding-left: 0 !important;
    }
    .skill-container li {
        display: block !important;
        font-size: 1rem;
        padding: 10px 15px;
    }
    .skill-container h4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 460px) {
    .menu {
        margin-top: 0 !important;
        font-size: 7vw !important;
    }
}

.content__close {
    z-index: 10000 !important;
}

.webui-popoverr,
.webui-popover {
    backdrop-filter: saturate(200%) blur(20px);
    -webkit-backdrop-filter: saturate(200%) blur(20px);
    background: rgba(23, 23, 23, .8);
}


/* about page overrides */

.language-css {
    background: none !important;
    font-size: 1.3em !important;
    box-shadow: none !important
}

.language-css .token.selector {
    font-size: 1.5em !important;
}

.language-css .token.property {
    padding-left: 30px !important;
}

.padding-top-bottom {
    padding-top: 0 !important;
}

.about-para-large {
    line-height: 45px !important;
}

@media (max-width: 990px) {
    .code-toolbar {
        display: none;
    }
}

.homepage:before,
.about-page:before,
.resume-page:before,
.blog-page:before {
    display: block;
    width: 100%;
    height: .1875rem;
    background-image: -webkit-linear-gradient(left, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
    background-image: linear-gradient(to right, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
    content: '';
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 50000;
    position: fixed;
    top: 0;
    left: 0;
}

.menu__item:hover,
.menu__item:focus {
    transition: all 300ms linear;
}

.yellow {
    background-color: #8E24AA !important;
}

.yellow:hover {
    background-image: radial-gradient(circle at bottom right, rgb(167, 80, 180) 0%, rgb(167, 80, 180) 4%, rgb(143, 68, 151) 4%, rgb(143, 68, 151) 8%, rgb(120, 55, 121) 8%, rgb(120, 55, 121) 12%, rgb(96, 43, 92) 12%, rgb(96, 43, 92) 16%, rgb(72, 31, 62) 16%, rgb(72, 31, 62) 20%, rgb(49, 18, 33) 20%, rgb(49, 18, 33) 24%, transparent 24%, transparent 100%), radial-gradient(circle at bottom left, rgb(167, 80, 180) 0%, rgb(167, 80, 180) 4%, rgb(143, 68, 151) 4%, rgb(143, 68, 151) 8%, rgb(120, 55, 121) 8%, rgb(120, 55, 121) 12%, rgb(96, 43, 92) 12%, rgb(96, 43, 92) 16%, rgb(72, 31, 62) 16%, rgb(72, 31, 62) 20%, rgb(49, 18, 33) 20%, rgb(49, 18, 33) 24%, rgb(25, 6, 3) 24%, rgb(25, 6, 3) 100%) !important;
}

.green {
    background-color: rgb(12 163 65) !important;
}

.blue {
    background-color: rgb(12 163 65) !important;
}

.blue:hover {
    background-image: radial-gradient(circle at top center, rgb(220, 206, 83) 0%, rgb(220, 206, 83) 5%, rgb(199, 202, 70) 5%, rgb(199, 202, 70) 10%, rgb(179, 198, 56) 10%, rgb(179, 198, 56) 15%, rgb(158, 194, 43) 15%, rgb(158, 194, 43) 20%, rgb(137, 190, 30) 20%, rgb(137, 190, 30) 25%, rgb(117, 186, 16) 25%, rgb(117, 186, 16) 30%, transparent 30%, transparent 100%), radial-gradient(circle at bottom right, rgb(220, 206, 83) 0%, rgb(220, 206, 83) 5%, rgb(199, 202, 70) 5%, rgb(199, 202, 70) 10%, rgb(179, 198, 56) 10%, rgb(179, 198, 56) 15%, rgb(158, 194, 43) 15%, rgb(158, 194, 43) 20%, rgb(137, 190, 30) 20%, rgb(137, 190, 30) 25%, rgb(117, 186, 16) 25%, rgb(117, 186, 16) 30%, transparent 30%, transparent 100%), radial-gradient(circle at bottom left, rgb(220, 206, 83) 0%, rgb(220, 206, 83) 5%, rgb(199, 202, 70) 5%, rgb(199, 202, 70) 10%, rgb(179, 198, 56) 10%, rgb(179, 198, 56) 15%, rgb(158, 194, 43) 15%, rgb(158, 194, 43) 20%, rgb(137, 190, 30) 20%, rgb(137, 190, 30) 25%, rgb(117, 186, 16) 25%, rgb(117, 186, 16) 30%, rgb(96, 182, 3) 30%, rgb(96, 182, 3) 100%) !important;
}

.red {
    background-image: radial-gradient(circle at top right, rgb(125, 0, 32) 0%, rgb(125, 0, 32) 22%, rgb(156, 9, 37) 22%, rgb(156, 9, 37) 38%, rgb(167, 9, 34) 38%, rgb(167, 9, 34) 39%, rgb(178, 10, 30) 39%, rgb(178, 10, 30) 43%, rgb(188, 10, 26) 43%, rgb(188, 10, 26) 64%, rgb(153, 0, 10) 64%, rgb(153, 0, 10) 96%, rgb(153, 0, 10) 96%, rgb(153, 0, 10) 99%, rgb(153, 0, 10) 99%, rgb(153, 0, 10) 100%) !important;
}

.purple {
    background-image: radial-gradient(circle at bottom right, rgb(52, 33, 141) 0%, rgb(52, 33, 141) 20%, rgb(52, 50, 168) 20%, rgb(52, 50, 168) 40%, rgb(52, 68, 195) 40%, rgb(52, 68, 195) 60%, rgb(52, 85, 221) 60%, rgb(52, 85, 221) 80%, rgb(52, 102, 248) 80%, rgb(52, 102, 248) 100%) !important;
}

.site-intro,
.home-page-heading,
.homepage-small-text {
    font-family: 'Prompt', sans-serif !important;
}

.homepage-small-text {
    font-weight: 300 !important;
    font-size: 13px !important;
}


/* ukraine support */


/* .orange,
.yellow,
.red {
    background-color: #0066cc !important;
}

.purple,
.blue,
.green {
    background-color: #ffcc00 !important;
} */