/* These are all the updates and overrides to the existing 
style.css. This file is seperate file named updates-overrides.css 
in development/testing environment. */

.content__title {
    font-size: 3.5rem !important;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, .8) !important;
}

.menu .fas {
    /* margin-left: 15px !important; */
}

.ticket,
.tickett {
    z-index: 13000;
}

.btn-dark {
    background-color: transparent !important;
    border-color: transparent !important;
}

@media (max-width: 991px) {
    .menu {
        font-size: 6vw !important
    }
}

@media (max-width: 768px) {
    .foot-email {
        display: block !important;
        margin-bottom: 20px !important;
    }
    .content__title {
        font-size: 2.2rem !important;
        color: rgba(255, 255, 255, .8) !important;
    }
    .menu {
        margin-top: -90px !important;
        font-size: 5vw !important;
    }
    .menu__item {
        margin: 5px 0 22px 0 !important;
    }
    .mobile-top-bg {
        height: 80px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9000;
        background: rgb(25, 25, 25, .7);
        width: 100%;
        backdrop-filter: saturate(200%) blur(20px);
        -webkit-backdrop-filter: saturate(200%) blur(20px);
    }
    .mobile-top-bg:before {
        display: block;
        width: 100%;
        height: .1875rem;
        background-image: -webkit-linear-gradient(left, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
        background-image: linear-gradient(to right, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
        content: '';
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .skill-container ul {
        padding-left: 0 !important;
    }
    .skill-container li {
        display: block !important;
        font-size: 1rem;
        padding: 10px 15px;
    }
    .skill-container h4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 460px) {
    .menu {
        margin-top: 0 !important;
        font-size: 7vw !important;
    }
}

.content__close {
    z-index: 10000 !important;
}

.webui-popoverr,
.webui-popover {
    backdrop-filter: saturate(200%) blur(20px);
    -webkit-backdrop-filter: saturate(200%) blur(20px);
    background: rgba(23, 23, 23, .8);
}


/* about page overrides */

.language-css {
    background: none !important;
    font-size: 1.3em !important;
    box-shadow: none !important
}

.language-css .token.selector {
    font-size: 1.5em !important;
}

.language-css .token.property {
    padding-left: 30px !important;
}

.padding-top-bottom {
    padding-top: 0 !important;
}

.about-para-large {
    line-height: 45px !important;
}

@media (max-width: 990px) {
    .code-toolbar {
        display: none;
    }
}

.homepage:before,
.about-page:before,
.resume-page:before,
.blog-page:before {
    display: block;
    width: 100%;
    height: .1875rem;
    background-image: -webkit-linear-gradient(left, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
    background-image: linear-gradient(to right, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
    content: '';
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 50000;
    position: fixed;
    top: 0;
    left: 0;
}

.menu__item:hover,
.menu__item:focus {
    transition: all 300ms linear;
}


/* ukraine support */


/* .orange,
.yellow,
.red {
    background-color: #0066cc !important;
}

.purple,
.blue,
.green {
    background-color: #ffcc00 !important;
} */