<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <link rel="canonical" href="https://www.chandan.com.np/">
    <title>Chandan Chaurasia</title>



    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gradient Ventures">
    <meta property="og:url" content="https://gradient.com/">
    <meta property="og:title" content="Gradient Ventures">
    <meta property="og:image:secure_url" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20(2).png">
    <meta property="og:image" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20(2).png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="en">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="gradientvc">
    <meta name="twitter:creator" content="gradientvc">
    <meta name="twitter:title" content="Gradient Ventures">

    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CGoogle+Sans:400,500">
    <link href="static/css/main.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="static/js/main.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103590973-01"></script>

</head>

<body add-browser-name>
    <div class="main">

        <div class="header" data-scroll-header ng-controller="navController as navCtrl">
            <div class="header__logo">

            </div>

            <nav class="header__nav">
                <ul class="header__nav__list">
                    <li class="header__nav__item">
                        <a class="header__nav__link
          " href="philosophy/index.html">
          Philosophy
        </a>
                    </li>
                    <li class="header__nav__item">
                        <a class="header__nav__link
          " href="portfolio/index.html">
          Portfolio
        </a>
                    </li>
                    <li class="header__nav__item">
                        <a class="header__nav__link
          " href="team/index.html">
          Team
        </a>
                    </li>
                    <li class="header__nav__item">
                        <a class="header__nav__link
          " href="jobs/index.html">
          Jobs
        </a>
                    </li>
                    <li class="header__nav__item">
                        <a class="header__nav__link
          " href="blog/index.html">
          Blog
        </a>
                    </li>
                </ul>

            </nav>

            <div class="header__nav-drawer">
                <div class="header__nav-drawer__overlay" ng-click="navCtrl.toggleNavDrawer()">
                </div>
                <nav class="header__nav-drawer__menu">
                    <a href="index.html" title="Starter" class="header__nav-drawer__logo">
                        <img src="static/images/single-color-logo.png">

                        <span>Gradient Ventures</span>
                    </a>
                    <ul class="header__nav-drawer__list">
                        <li class="header__nav-drawer__item">
                            <a class="header__nav-drawer__link
          " href="philosophy/index.html">
          Philosophy
        </a>
                        </li>
                        <li class="header__nav-drawer__item">
                            <a class="header__nav-drawer__link
          " href="portfolio/index.html">
          Portfolio
        </a>
                        </li>
                        <li class="header__nav-drawer__item">
                            <a class="header__nav-drawer__link
          " href="team/index.html">
          Team
        </a>
                        </li>
                        <li class="header__nav-drawer__item">
                            <a class="header__nav-drawer__link
          " href="jobs/index.html">
          Jobs
        </a>
                        </li>
                        <li class="header__nav-drawer__item">
                            <a class="header__nav-drawer__link
          " href="blog/index.html">
          Blog
        </a>
                        </li>
                    </ul>

                </nav>
            </div>

            <div class="header__mobile-nav-toggle">
                <button class="header__burger-icon" ng-click="navCtrl.toggleNavDrawer()">
    </button>
            </div>

        </div>
        <div class="hero hero--home-page hero--dark">
            <div class="hero__content">
                <div class="hero__content__main hero__content__main--home-page">
                    <h1 class="hero__content__main__title">Back to the roots.</h1>
                    <h4>After 13 years, back to doing the best. Delivering the extremely jaw dropping, high performing and extravagantly unique design. The only web designer in Nepal who is dead serious and self obsessed when it comes to design.</h4>
                    <!-- <a propagate-query-string class="button button--reversed button--uppercase" href="philosophy/index.html">
      Learn More
  </a> -->

                </div>
                <div class="hero__content__layers">
                    <div class="hero__content__layers__layer hero__content__layers__layer--red">
                    </div>
                    <div class="hero__content__layers__layer hero__content__layers__layer--light">
                    </div>
                    <div class="hero__content__layers__layer hero__content__layers__layer--gray">
                    </div>
                    <div class="hero__content__layers__layer hero__content__layers__layer--dark">
                    </div>
                    <div class="hero__content__layers__layer hero__content__layers__layer--logo">
                        <div class="hero__content__layers__layer__image--home-page">
                            <picture>
                                <source media="(min-width: 1024px)" srcset="static/images/cp.png" />
                                <img src="">

                            </picture>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="footer">
            <div class="footer__nav">
                <div class="footer__nav__links">
                    <div class="footer__nav__links__item">
                        <a href="https://www.google.com"> <img src="https://www.google.com/earth/education/images/google-bw-logo.svg">
                        </a>
                    </div>
                    <div class="footer__nav__links__item">
                        <a href="https://google.ai">Google.ai</a>
                    </div>
                    <div class="footer__nav__links__item">
                        <a href="https://www.google.com/policies/privacy/">Privacy</a>
                    </div>
                    <div class="footer__nav__links__item">
                        <a href="https://www.google.com/policies/terms/">Terms</a>
                    </div>
                    <div class="footer__nav__links__item">
                        <a href="https://about.google/">About Google</a>
                    </div>
                    <div class="footer__nav__links__item">
                        <a href="https://sites.google.com/corp/google.com/gradient/">Founders Portal</a>
                    </div>
                </div>
            </div>
            <div class="footer__disclaimer">

            </div>
        </div>
    </div>
</body>

</html>