/* General Demo Style */
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #cccccc;
	--heading-color: #292922;
	--nav-bg: rgba(255,255,255,0.8);
	--navlink: #232323;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
	--heading-color: #818cab;
	--nav-bg: rgba(37, 47, 64,0.8);
	--navlink: #c5c5c5;
}
em{
	font-style: italic;
}

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
	font-family: 'Krub', sans-serif;
    background: var(--bg-color);
    font-weight: 300;
    font-size: 15px;
	color: var(--font-color);
	padding: 20px 0;
    overflow: scroll;
	overflow-x: hidden;
	border-left: 20px solid  rgba(255,255,255,1);
	border-right: 20px solid  rgba(255,255,255,1);
}

h1,h2,h3,h4 {
	font-family: 'DM Serif Display', serif;
	color: var(--heading-color);



}
/*slider switch css */
.theme-switch-wrapper {
	position: fixed;
    right: 31px;
    top: 28px;
  
 
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

#main .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}


input:checked + .slider {
  background-color:var(--bg-color);
  height: 34px;
}

input:checked + .slider:before {
  transform: translateX(26px);

}

.slider.round {
  border-radius: 34px;
  height: 34px;
  background-color: var(--bg-color);
}

.slider.round:before {
  border-radius: 50%;
}




a {
	color: var(--primary-color);
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container > header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container > header {
	padding: 120px 30px 50px;
	text-align: center;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0 auto;
	font-weight: 700;
	color: var(--heading-color);
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}

.top-nav{
	height: 50px;
	line-height: 50px;
	background: var(--nav-bg);
	width: auto;
	position: fixed;
	left: 20px;
	right: 20px;
	top: 20px;
	z-index: 500;
}
.top-nav a{
	font-family: 'DM Serif Display', serif;
	padding: 0 30px;
	color: var(--navlink);

}
.top-nav a:hover{
	background: #fff;
    display: inline-block;
    color: #2aa2db;
}

.top-border{
	height: 20px;
	background: rgba(255,255,255,1);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.bottom-border{
	height: 20px;
	background: rgba(255,255,255,1);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1000;
}

