<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

<meta name="description" content="Team.">    <link rel="canonical" href="https://gradient.com/team/">
    <title>Team - Gradient Ventures</title>

    <meta name="google-site-verification" content="iNS9I-TcJimRz2vaKHw1671G4m6tLb2snGW5UgrxxwE" />
    <meta name="google-site-verification" content="JwLD6maGxoiKuUhapHIqBVQfWYR15uVo2c0TMhQl_ks" />

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gradient Ventures">
    <meta property="og:url" content="https://gradient.com/team/">
    <meta property="og:title" content="Team - Gradient Ventures">
    <meta property="og:description" content="Team.">
    <meta property="og:image:secure_url" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20(2).png">
    <meta property="og:image" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20(2).png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="en">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="gradientvc">
    <meta name="twitter:creator" content="gradientvc">
    <meta name="twitter:title" content="Team - Gradient Ventures">
    <meta name="twitter:description" content="Team.">

    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CGoogle+Sans:400,500">
    <link href="../static/css/main.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="../static/js/main.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103590973-01"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-103590973-01', { 'page_referrer' : document.referrer.split('?')[0] });
    </script>
  </head>
  <body add-browser-name>
    <div class="main">

<div class="header" data-scroll-header
  ng-controller="navController as navCtrl">
  <div class="header__logo">
    <a href="../index.html" title="Starter">
        <img
      src="../static/images/logo.svg"
  >

    </a>
  </div>

  <nav class="header__nav">
        <ul class="header__nav__list">
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../portfolio/index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          header__nav__link--active" href="index.html">
          Team
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../blog/index.html">
          Blog
        </a>
      </li>
  </ul>

  </nav>

  <div class="header__nav-drawer">
      <div class="header__nav-drawer__overlay"
        ng-click="navCtrl.toggleNavDrawer()">
      </div>
    <nav class="header__nav-drawer__menu">
      <a href="../index.html" title="Starter" class="header__nav-drawer__logo">
          <img
      src="../static/images/single-color-logo.png"
  >

        <span>Gradient Ventures</span>
      </a>
        <ul class="header__nav-drawer__list">
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../portfolio/index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          header__nav-drawer__link--active" href="index.html">
          Team
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../blog/index.html">
          Blog
        </a>
      </li>
  </ul>

    </nav>
  </div>

  <div class="header__mobile-nav-toggle">
    <button class="header__burger-icon"
      ng-click="navCtrl.toggleNavDrawer()">
    </button>
  </div>

</div><div class="hero hero--team hero--dark hero--team">
  <div class="hero__content">
    <div class="hero__content__main hero__content__main--team">
      <div class="hero__content__main__title">Meet our team</div><div class="hero__content__main__body">Most of us have been tech founders, and we’re familiar with the journey from technical innovation and product launch through customer traction. Our history of tackling engineering and product challenges helps us identify and mitigate the risks associated with our early-stage portfolio companies.</div>
      
    </div>
    <div class="hero__content__layers">
      <div class="hero__content__layers__layer hero__content__layers__layer--red">
      </div>
      <div class="hero__content__layers__layer hero__content__layers__layer--light">
      </div>
      <div class="hero__content__layers__layer hero__content__layers__layer--gray">
      </div>
      <div class="hero__content__layers__layer hero__content__layers__layer--dark">
      </div>
      <div class="hero__content__layers__layer hero__content__layers__layer--logo">
          <div class="hero__content__layers__layer__image--team">
            <picture>
              <source media="(min-width: 1024px)" srcset="https://gradient.com/static/images/logo.png" />
                <img
      src="https://gradient.com/static/images/single-color-logo.png"
  >

            </picture>
          </div>
      </div>
    </div>
  </div>


</div>

<div class="grid-team"
  ng-controller="gridTeamController as gridTeamCtrl">
  <div class="grid-team__tab-list">
      <div class="grid-team__tab-item team"
        ng-click="gridTeamCtrl.showTeam('team')">
        <div class="grid-team__tab-link">
          Team
        </div>
      </div>
      <div class="grid-team__tab-item advisor"
        ng-click="gridTeamCtrl.showTeam('advisor')">
        <div class="grid-team__tab-link">
          Advisors
        </div>
      </div>
  </div>

  <div class="grid-team__list team">
      <div class="grid-team__wrapper">
        <a class="link-card "
      href="../profile/anna-patterson/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/CpHA5JAXNEr_i0pK2cNet6w50WxDOp0Hu1DT9BaxHqZPTqpLKN8e7Iwi_l7i0mwLRqxfJ9GSkgWNMFvSKwOItvpnjgiuCYt0a8uL2A)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Anna Patterson
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Managing Partner
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/asif-moosani/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/2Pbo1Ov2tM0VyUJo-ERjR_g0I7cYjyMW8WDNwxrYngE7mVI60_eLVi_c96LM8cbpI_QaR7d5fX1Qrx7g5TkQ2hd0AxE56zPLix9_ww)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Asif Moosani
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Investor
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/dani-cruz/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/NhAaYrqzbwwA6cagGIDRF6d0_TKiLMt3rHXnQPQHkkZZy34LEf58OqZoy_zS7jLsyGKdhYpK0D1Lg0K2BFYpMAs2iLEh_aXCnLQuSg)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Dani Cruz
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Marketing
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/darian-shirazi/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/yH6LoprAC3e_wobpmSk-dpg-b7KSB-qGUUEdtyQAaia4B0iAggwAuTieTkE5UdtYQyw8BSOxPClwdGgHAhgqKCKfy_Vp7fe84-ybqA)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Darian Shirazi
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Partner
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/jaap-ruoff/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/5F3nSJwEEJxoO2V_1yItTd88hbHihDGVc7o852lfYFnqdmZVFZg-FV-12GWXBXtur_fUVw-9rVC0B9WwPgv2HU9OeA8o4pNo3NAf2ak)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Jaap Ruoff
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Marketing
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/kahini-shah/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/o2hc00wkwpcNvC-bNc2B_678LjRfdqYM_tJQtzipU1pzE75a3KkfWYvS8__Ot2a9HDoAfVhWtvK6Vh7KaUg7XKLTmH8bZKSo0oWRy5o)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Kahini Shah
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Investor
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/kyle-nesbit/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/8dye9RJvMG1EMDOAuVawttZUgRANetVw6-aBXc1ha9ZPkmgaKmg52Dm6DjTPk0F327wjIxROeXFHQEuh2uGtRFFWmBNTqDLw9qOBYnA)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Kyle Nesbit
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Chief Resident
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/lauren-illovsky/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/VKBp1fB15aO0pQw-iMG_tyEgJBxXUpNe6u1f9szK6sTBOTeRYQoCsLmCS1ppy1mD6usPHydTNe0bgr1AJ7RCS_NtsQ2jyfXt5NJVRgY)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Lauren Illovsky
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Talent Partner
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/marin-licina/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/WdRy9oVuOx8Q56zcHk3GKIcQwWXzGvU4eCOlpfb3Fe9VE6U3W587aaHE_LExqU_BL4-fROftjP3fu56Ccp5wARB4ryYcG2B4DqLEb-E)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Marin Licina
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Design Partner
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/muzzammil-zaveri/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/-37JzN1GYzntDohiLWIw6fp4uEcp4W34SPgL3J-B2if6g7PeZeefl81xSjmIVcVzsXe97ZnKTlvo2cyUo5UI2n-KZXA2I4pr0YZWpQ)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Muzzammil (MZ) Zaveri
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Partner
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/tiffany-loer/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/TpKXhDGamWWQ3ihpC3bxPlVboZrYaWrWf4uwal6oPiXFU7TnbBMb1tIR0Ul7HCQW22Nn2yo-Yjp-zILm2UcHnoRZhayw2auSvZEHjA)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Tiffany Loer
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Operations
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/victoria-zuo/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/FA193PGVOhJ49W-qHRSd30GJQpzkZtRrNpHZH7P0XXZG1EdTcAOKAXvG232UI6t9K0D3M1_UtdrtkIE6mxkVsRcoXeryz169cXFwbg)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Victoria Zuo
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Investor
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/wendi-zhang/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/4fyhgP-8tF-tf5zf36xnCXShS15O6Wq472ctK1WxzjHCRpDO6iZmyANsykBSDUPOaG46jytKvxuFnB_e1KL1_f_IO7QdynJsUnzm6xA)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Wendi Zhang
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Biz Dev Partner
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/zach-bratun-glennon/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/jSclbiY9fbHffOnYjVEAGZEKWTAdCH9SxIGv-Wsiqdyzx3veRHT78J0LMVKoQJMrodYv5XXryvNAFNMtbdacOv9_5IXGoixnSu10mLA)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Zach Bratun-Glennon
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Partner
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/zach-patton/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/xFy0dP36qTFym_-OI-1lweXu6-M8FvoMmJRF7cEKnX4Cvq0ChIEIaZp5f0qyZQUKIHtUHGF4P62whBQnh-8ZLFc50a7qLQwVhdBKfg)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Zach Patton
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Legal
            </p>
        </div>
      </div>
    </div>
  </a>

  </div>

  </div>

  <div class="grid-team__list advisor">
      <div class="grid-team__wrapper">
        <a class="link-card "
      href="../profile/anthony-goldbloom/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/eko42Hmqa4mCvOLEjSP8XJb-_erG84fw1pP-VTHhDfhILLx2FwOKiuGKlh4yxPoh4zfX7bfeHncS_G07IHm7b0LnAgH5DwYqMdpyRw)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Anthony Goldbloom
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Co-founder and CEO, Kaggle
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/astro-teller/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/YMnEKuIjSpuBbagtWCoBV9q8r8hO_jNSdzdv_y0oHQuK5iWlkFza-U5FAfyQMbOMWGgSg5GVc87xZCDX9b7YZpqs4T_9_kbQzzcchg)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Dr. Astro Teller
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Captain of Moonshots, X
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/jeremy-doig/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/uA6idE3sf4vBH0qEXaaPxBRPszkJAOVFm_MNH-v6Tjn2h3Qugwp7whq8qI29jiyJ3biOvanw8UkX6k-_NnXftuuUZ70I-KWeiOpu2w)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Jeremy Doig
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              VP, Engineering &amp; VR, YouTube
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/john-mcateer/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/Cn7qSQWnAfym9ZVOXrxfua4JWrk35W51QYmVRIyHiUv25jhSYZb-EFp3VjHI-C1gmzXy4K8v_s8e4C8RvahCi35BRZxDTGZeXSgg4g)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          John McAteer
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              VP, US Sales, Google
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/marvin-chow/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/ngxfRkeTiAM6BXdaN1fBvOdvP1PGbKm8UwuHQjfarmriHVdr5iw4FJVb-Kymq_HUxrkT5G_m4XgJFdcl3Qq98Fpk1JJonIm77cBmEQ)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Marvin Chow
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              VP, Marketing, Google
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/matias-duarte/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/DglhNHe3-xIgvKHARL8V2Fc0hSozcTifXKvysSoaZYsRkQoDrRKpxVt2U1tHMpOCEDvKnqcnBtcr1-7yOxCgxj79vnHJ0TRBldqyAbo)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Matias Duarte
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              VP, Design, Google
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/peter-norvig/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/vxiNiX1XIz4xkWs7Sszy9RvxvLQH3d7Wv2td3baJf7Y1AVTMXhKjN6D2U6bCPqieO6uRYEsRzMhpCW8rV0UdZMOY1bkV0lwevQR7t4s)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Dr. Peter Norvig
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Research Director, AI, Google
            </p>
        </div>
      </div>
    </div>
  </a>

        <a class="link-card "
      href="../profile/ray-kurzweil/index.html"
  >
      <div class="link-card__background "
        style="background-image: url(https://lh3.googleusercontent.com/0Ai8-pNUg8dbdy3y5AK_2E2HAWFhQwjzIf9rWc1RK9t7b6h0_5NG-j4ebi0-bgXhMRDRlTWrh4tPs-2tmGgwC7Ns-ehyDHOvsOKVmA)">
        <i class="link-card__triangle"></i>
      </div>
    <div class="link-card__wrapper ">
      <div class="link-card__content">
        <div class="link-card__title ">
          Dr. Ray Kurzweil
        </div>
        <div class="link-card__description ">
            <p class="link-card__position">
              Director of Engineering, Machine Intelligence, Google
            </p>
        </div>
      </div>
    </div>
  </a>

  </div>

  </div>
</div><div class="contact-form"
  data-action="https://services.google.com/fb/submissions/gradientventures/"
  ng-controller="contactFormController as contactFormCtrl">
  <div class="contact-form__title">
    Gradient Ventures updates delivered straight to your inbox
  </div>
  <div class="contact-form__result" ng-if="contactFormCtrl.isSuccess">
    Thank you, we&#39;ll be in touch.
  </div>
  <form
    ng-if="!contactFormCtrl.isSuccess"
    class="contact-form__form"
    name="contactForm"
    ng-submit="contactFormCtrl.subscribe(contactForm, user)">
      <input type="hidden" name="LanguagePreference" value="en">
      <input type="hidden" name="GradientUpdates" value="TRUE">
      <input class="contact-form__field" type="text" name="name"
        ng-model="user.name" required
        placeholder="Name">
      <span class="contact-form__feedback" ng-show="contactForm.name.$invalid &&
        contactForm.name.$touched">
        Your name is required.
      </span>
      <input class="contact-form__field" type="email" name="EmailAddress"
        ng-model="user.email" required
        placeholder="Email address">
      <span class="contact-form__feedback" ng-show="contactForm.email.$error.required &&
        contactForm.email.$touched">
        Your email is required.
      </span>
      <span class="contact-form__feedback"  ng-show="contactForm.email.$error.email &&
        (contactForm.email.$touched && contactForm.email.$dirty)">
        Enter a valid email address.
      </span>
      <p class="contact__form__disclaimer">
        Sign up to receive newsletters from Gradient Ventures. Your information will be used in accordance with Google&#39;s privacy policy. You may opt out at any time.
      </p>
        <button
      propagate-query-string
      type="submit"
      class="button button--uppercase"
      >
      Subscribe
  </button>

  </form>
</div><div class="footer">
  <div class="footer__nav">
    <div class="footer__nav__links">
      <div class="footer__nav__links__item">
        <a href="https://www.google.com">  <img
      src="https://www.google.com/earth/education/images/google-bw-logo.svg"
  >
</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://google.ai">Google.ai</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/privacy/">Privacy</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/terms/">Terms</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://about.google/">About Google</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://sites.google.com/corp/google.com/gradient/">Founders Portal</a>
      </div>
    </div>
  </div>
  <div class="footer__disclaimer">
    
  </div>
</div>    </div>
  </body>
</html>