<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <link rel="canonical" href="https://gradient.com/blog/articles/2019-11-26-our-investment-in-openly/">
    <title>Our investment in Openly - Gradient Ventures</title>

    <meta name="google-site-verification" content="iNS9I-TcJimRz2vaKHw1671G4m6tLb2snGW5UgrxxwE" />
    <meta name="google-site-verification" content="JwLD6maGxoiKuUhapHIqBVQfWYR15uVo2c0TMhQl_ks" />

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gradient Ventures">
    <meta property="og:url" content="https://gradient.com/blog/articles/2019-11-26-our-investment-in-openly/">
    <meta property="og:title" content="Our investment in Openly - Gradient Ventures">
    <meta property="og:image:secure_url" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20%282%29.png">
    <meta property="og:image" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20%282%29.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="en">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="gradientvc">
    <meta name="twitter:creator" content="gradientvc">
    <meta name="twitter:title" content="Our investment in Openly - Gradient Ventures">

    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon-16x16.png">

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CGoogle+Sans:400,500">
    <link href="../../static/css/main.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="../../static/js/main.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103590973-01"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-103590973-01', { 'page_referrer' : document.referrer.split('?')[0] });
    </script>
  </head>
  <body add-browser-name>
    <div class="main">

<div class="header" data-scroll-header
  ng-controller="navController as navCtrl">
  <div class="header__logo">
    <a href="../../index.html" title="Starter">
        <img
      src="../../static/images/logo.svg"
  >

    </a>
  </div>

  <nav class="header__nav">
        <ul class="header__nav__list">
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../portfolio/index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../team/index.html">
          Team
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../index.html">
          Blog
        </a>
      </li>
  </ul>

  </nav>

  <div class="header__nav-drawer">
      <div class="header__nav-drawer__overlay"
        ng-click="navCtrl.toggleNavDrawer()">
      </div>
    <nav class="header__nav-drawer__menu">
      <a href="../../index.html" title="Starter" class="header__nav-drawer__logo">
          <img
      src="../../static/images/single-color-logo.png"
  >

        <span>Gradient Ventures</span>
      </a>
        <ul class="header__nav-drawer__list">
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../portfolio/index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../team/index.html">
          Team
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../index.html">
          Blog
        </a>
      </li>
  </ul>

    </nav>
  </div>

  <div class="header__mobile-nav-toggle">
    <button class="header__burger-icon"
      ng-click="navCtrl.toggleNavDrawer()">
    </button>
  </div>

</div>
<div class="blog-detail">
  <div class="blog-detail__wrapper">
    <h1 id="our-investment-in-openly">Our investment in Openly</h1>
<p><em>Zach Bratun-Glennon, November 26, 2019</em></p>
<p>Think about the last time you selected an insurance provider. You can probably remember navigating through the overload of online information, complex call operator menus, and confusing price schemes. Though new tech-enabled insurers have emerged in the market, consumers looking for premium, customizable and user-centric policies have few options available to them. </p>
<p>This is where <a href="https://openly.inc/">Openly</a> comes in. Openly is working to modernize and simplify insurance. Their products and services are specialized and give customers more complete protection. Openly is a premium, tech-forward insurance platform and provider that’s designed specifically to be sold through independent brokers. The company leverages data integrations and machine learning to instantly calculate a bindable premium, taking a wholesome look into the insured person, the property, the geography, and more. When looking into Openly, we were particularly impressed by:</p>
<ul>
<li><strong>Founding team:</strong> The founding team of Openly consists of experienced industry leaders. CEO, <a href="https://www.linkedin.com/in/ty-harris-73a40816/">Ty Harris</a>, spent 12 years at Liberty Mutual and CTO, <a href="https://www.linkedin.com/in/matt-wielbut/">Matt Wielbut,</a> co-founded Elements Insurance, one of the fastest-growing property &amp; casualty insurance agencies in Massachusetts.</li>
<li><strong>Data integration:</strong> Openly integrates with over 30 data sources and utilizes state-of-art algorithms to calculate custom bindable quotes.</li>
<li><strong>User experience (for brokers):</strong> Openly only asks 3 questions: name, address, and date of birth as compared to the 40+ questions typically asked by insurance brokers. </li>
</ul>
<h3 id="_1"></h3>
<p>Openly provides high quality, customized insurance policies that agents can quickly tailor to the needs of their homeowner clients.  This significantly improves the experience and transparency for agents and homeowners alike.  Openly is not only improving the tech powering their policies, but also the homeowner's insurance product itself.</p>
<p>Today, Openly announced its $7.5M Seed investment led by Gradient Ventures, as well as  its market debut in Illinois and Arizona.</p>
    <div class="blog-detail__social" ng-controller="socialShareController">
      <p class="blog-detail__social__title"><strong>Share on Social</strong></p>
      <ul class="blog-detail__social__list">
        <li class="blog-detail__social__item blog-detail__social__item--facebook">
          <a href="#" target="_blank" data-share-facebook>Share on Facebook</a>
          </li>
        <li class="blog-detail__social__item blog-detail__social__item--twitter">
          <a href="#" target="_blank" data-share-twitter>Share on Twitter</a>
          </li>
        <li class="blog-detail__social__item blog-detail__social__item--linkedin">
          <a href="#" target="_blank" data-share-linkedin>Share on LinkedIn</a>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="contact-form"
  data-action="https://services.google.com/fb/submissions/gradientventures/"
  ng-controller="contactFormController as contactFormCtrl">
  <div class="contact-form__title">
    Gradient Ventures updates delivered straight to your inbox
  </div>
  <div class="contact-form__result" ng-if="contactFormCtrl.isSuccess">
    Thank you, we&#39;ll be in touch.
  </div>
  <form
    ng-if="!contactFormCtrl.isSuccess"
    class="contact-form__form"
    name="contactForm"
    ng-submit="contactFormCtrl.subscribe(contactForm, user)">
      <input type="hidden" name="LanguagePreference" value="en">
      <input type="hidden" name="GradientUpdates" value="TRUE">
      <input class="contact-form__field" type="text" name="name"
        ng-model="user.name" required
        placeholder="Name">
      <span class="contact-form__feedback" ng-show="contactForm.name.$invalid &&
        contactForm.name.$touched">
        Your name is required.
      </span>
      <input class="contact-form__field" type="email" name="EmailAddress"
        ng-model="user.email" required
        placeholder="Email address">
      <span class="contact-form__feedback" ng-show="contactForm.email.$error.required &&
        contactForm.email.$touched">
        Your email is required.
      </span>
      <span class="contact-form__feedback"  ng-show="contactForm.email.$error.email &&
        (contactForm.email.$touched && contactForm.email.$dirty)">
        Enter a valid email address.
      </span>
      <p class="contact__form__disclaimer">
        Sign up to receive newsletters from Gradient Ventures. Your information will be used in accordance with Google&#39;s privacy policy. You may opt out at any time.
      </p>
        <button
      propagate-query-string
      type="submit"
      class="button button--uppercase"
      >
      Subscribe
  </button>

  </form>
</div><div class="footer">
  <div class="footer__nav">
    <div class="footer__nav__links">
      <div class="footer__nav__links__item">
        <a href="https://www.google.com">  <img
      src="https://www.google.com/earth/education/images/google-bw-logo.svg"
  >
</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://google.ai">Google.ai</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/privacy/">Privacy</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/terms/">Terms</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://about.google/">About Google</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://sites.google.com/corp/google.com/gradient/">Founders Portal</a>
      </div>
    </div>
  </div>
  <div class="footer__disclaimer">
    
  </div>
</div>    </div>
  </body>
</html>