<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <link rel="canonical" href="https://gradient.com/blog/articles/welcoming-the-gradient-residents/">
    <title>From Google to AI Startups: Welcoming the Gradient Residents - Gradient Ventures</title>

    <meta name="google-site-verification" content="iNS9I-TcJimRz2vaKHw1671G4m6tLb2snGW5UgrxxwE" />
    <meta name="google-site-verification" content="JwLD6maGxoiKuUhapHIqBVQfWYR15uVo2c0TMhQl_ks" />

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gradient Ventures">
    <meta property="og:url" content="https://gradient.com/blog/articles/welcoming-the-gradient-residents/">
    <meta property="og:title" content="From Google to AI Startups: Welcoming the Gradient Residents - Gradient Ventures">
    <meta property="og:image:secure_url" content="https://storage.googleapis.com/gradient-site-assets/IMG_0183_shadows.jpg">
    <meta property="og:image" content="https://storage.googleapis.com/gradient-site-assets/IMG_0183_shadows.jpg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="en">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="gradientvc">
    <meta name="twitter:creator" content="gradientvc">
    <meta name="twitter:title" content="From Google to AI Startups: Welcoming the Gradient Residents - Gradient Ventures">

    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon-16x16.png">

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CGoogle+Sans:400,500">
    <link href="../../static/css/main.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="../../static/js/main.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103590973-01"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-103590973-01', { 'page_referrer' : document.referrer.split('?')[0] });
    </script>
  </head>
  <body add-browser-name>
    <div class="main">

<div class="header" data-scroll-header
  ng-controller="navController as navCtrl">
  <div class="header__logo">
    <a href="../../index.html" title="Starter">
        <img
      src="../../static/images/logo.svg"
  >

    </a>
  </div>

  <nav class="header__nav">
        <ul class="header__nav__list">
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../portfolio/index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../team/index.html">
          Team
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../index.html">
          Blog
        </a>
      </li>
  </ul>

  </nav>

  <div class="header__nav-drawer">
      <div class="header__nav-drawer__overlay"
        ng-click="navCtrl.toggleNavDrawer()">
      </div>
    <nav class="header__nav-drawer__menu">
      <a href="../../index.html" title="Starter" class="header__nav-drawer__logo">
          <img
      src="../../static/images/single-color-logo.png"
  >

        <span>Gradient Ventures</span>
      </a>
        <ul class="header__nav-drawer__list">
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../portfolio/index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../team/index.html">
          Team
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../index.html">
          Blog
        </a>
      </li>
  </ul>

    </nav>
  </div>

  <div class="header__mobile-nav-toggle">
    <button class="header__burger-icon"
      ng-click="navCtrl.toggleNavDrawer()">
    </button>
  </div>

</div>
<div class="blog-detail">
  <div class="blog-detail__wrapper">
    <h1 id="from-google-to-ai-startups:-welcoming-the-gradient-residents">From Google to AI Startups: Welcoming the Gradient Residents</h1>
<p><em>March 27, 2020</em></p>
<p><img alt="" src="https://lh5.googleusercontent.com/CS4RorVVrElvsPV4-Yk9yv0gJYobaM6aCdi3fFyxd6MNhucJt9TFN1IsjLpyd4gOaC2m9aIjnklv_zLt4Lyk-M0pEJQkVGfSVfsYZEV4gS8IHylXoz16S40PXutGiBPwtrs5Ovyp" /></p>
<p>It’s a rainy afternoon at the Gradient office. We’re sitting around a conference table welcoming some of Google’s most senior talent to Gradient Ventures and reminding them what it’s like to work for a startup. In the room, we have Googlers who’ve dedicated their lives to studying applied AI and ML, engineers and product experts that have worked across Google Photos, Hardware, and the many different Alphabet bets. They’ve all been selected for the opportunity to work with some of the most exciting AI startups. This cycle, companies like <a href="https://www.streamlit.io/">Streamlit</a>, <a href="https://elsaspeak.com/en/">ELSA</a>, and <a href="https://www.pullrequest.com/">PullRequest</a> are in the mix. </p>
<p>Starting a company comes with many challenges, and hiring can be one of the toughest. Recruiting and interviewing are time consuming. Technical talent is expensive and hard to find. Founders face similar challenges: How to recruit strong technical leadership? When in your company life-cycle should you leverage senior engineering talent? How do you match the right technical skill set to the relevant engineering problem? That’s why we launched the Gradient Ventures Residency Program, to connect portfolio companies with Google’s top talent. </p>
<p>Gradient has recruited some of Google’s best engineers, product managers, designers, and business development partners into Gradient’s residency. Residents work directly with our portfolio companies in a few different modes, from full time for 6-12 months to one-off office hours and consultations. The program is designed to address the unique challenges founders face when building a company: </p>
<p><strong>Engineering</strong></p>
<p>Early stage companies often accumulate substantial technical debt in their pursuit of getting to market faster. In later stages, technical debt can prevent a company from scaling their product and business. </p>
<p><em>“At Google, we build our products to scale from the start. I have worked at Google for over a decade. In that time, I have had the privilege to work with and learn from the world's best distributed systems engineers. As a resident, I get to pass on that knowledge to our portfolio companies who are struggling to scale. I help them re-architect their systems and pay down their technical debt. Helping fledgling companies at these critical junctures is one of the most rewarding experiences of my career.”</em></p>
<p><em>Kyle Nesbit - Gradient Chief Resident</em></p>
<p><strong>Product</strong></p>
<p>Oftentimes, early stage companies do not have abundant metrics to assess progress, making it more difficult to iterate, pivot, and prioritize decisions in a timely manner. When it comes to building revolutionary data and AI-first products, simple team processes like OKR setting can help everyone rally around the same goal. </p>
<p><em>”A background in building &amp; scaling products is immensely helpful to increasing a start-ups’ ability to tackle product-market fit challenges. Building a product culture that values impact, accountability, and measurable progress sets up a team for long term success. ”</em> </p>
<p><em>Jumana Al Hashal - Gradient Product  Resident</em></p>
<p><strong>Culture</strong></p>
<p>Founders increasingly see the value in building culture to help scale. However, knowing the right culture to build isn’t always clear. Residents place value in helping create a culture in the startups they join, particularly the culture of peer-to-peer teaching. More and more, candidates are looking to join startups that can provide them growth opportunities. Before joining, they’re asking questions like: How can I grow in my craft here? Who can I learn from? Residents help establish a strong culture of mentorship. </p>
<p><em>“A culture of peer review and teaching comes with many benefits, including implicitly communicating shared status; practicing a culture of transparency; and normalizing the concept that everyone is learning (and everyone has gaps in their knowledge).”</em></p>
<p><em>Mike Procopio - Gradient Resident</em></p>
<p>The Residency Program is part of the Gradient Ventures offering. Residents are typically placed with companies once they hit product-market fit. Since we’ve started the Residency program, 20 portfolio companies have received a dedicated full-time resident and 90% of our residents consider this one of the best jobs they’ve had. </p>
<p><strong>Join us as we welcome our residents below:</strong>  </p>
<table>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/jumana-al-hashal.png" />


</td>  
<td>



<strong>Jumana al Hashal</strong>

Jumana is a seasoned product leader with over 14 years of experience in the Seattle and San Francisco tech scenes. She has worked with and advised startups in North America, EMEA, and APAC.  

Jumana is passionate about the intersection of art and science, principled design, and crafted execution. She holds a Master degree from the University of Washington, Seattle as well as undergraduate degrees in Mathematics, Computer Science, and Art. She previously worked at Google, Firebase, & Zillow. She loves designing and playing games, dogs, swimming, and prickly machine learning problems.


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/corey-bradford.jpg" />


</td>  
<td>



<strong>Corey Bradford</strong>

Corey is a Solutions Engineer. He has spent over 20 years providing technical and business guidance to organizations ranging from startups to Fortune 10 companies.  He focuses on solving customers’ challenges by leveraging expertise with technical architectures, integrations, and best practices for migrations and implementations. Corey has spent the past 12 years as a Sales Engineer with Google Cloud and prior to that has worked with Deloitte and a variety of startups.

Outside of work, he enjoys hiking and backcountry camping, as well as both road and mountain cycling.


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/chris-evans.jpg" />


</td>  
<td>



<strong>Chris Evans</strong>

Chris is a Staff Software Engineer at Google who thrives on the energy around building and scaling new products. Before joining Gradient he was a core contributor to Google's host networking stack, Snap, serving Google Search, Storage, Cloud, and other products.

Before Google, Chris was a researcher in mobile robotics and autonomous sensing. He holds a Ph.D. in Computer Science from Switzerland's École polytechnique fédérale de Lausanne.


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/kirk-johnson-2.jpg" />


</td>  
<td>



<strong>Kirk Johnson</strong>

Kirk is a Senior Staff Software Engineer at Google. Prior to joining Gradient, he spent several years at DeepMind (London, UK) and a decade in Google (Boulder, CO), working on a wide variety of systems and products.

Outside of work, he helps coach a high school track team, enjoys as much cycling as possible, and occasionally gets out under dark skies for a bit of amateur astronomy.

While he is a Boulder native, Kirk spent his university years in Boston, where he received three degrees from the Massachusetts Institute of Technology (SB, SM, and PhD; all in Electrical Engineering and Computer Science).


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/jay-huang.jpg" />


</td>  
<td>



<strong>Jay Huang</strong>

Before joining Gradient Ventures, Jay was a tech lead in the Google Search core infrastructure team for 5 years. Jay worked on large-scale infrastructure problems aiming to improve latency, reliability, and index freshness for Google Search. Before Google, Jay was an early member of the Portfolio Management Developer team at AQR Capital Management, where he helped build the trading and research systems handling trades with daily volumes in the size of billions. Prior to that, Jay also worked at Microsoft and Symantec.

At Gradient Venture, Jay helps portfolio companies in the accounting-tech and insurance-tech domain building deep learning models to maximize automation, and improve infrastructure for better scalability.


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/keith-kiyohara.jpg" />


</td>  
<td>



<strong>Keith Kiyohara</strong>

Keith started working when 8-bit processors were still new. Most of his career prior to Google was spent in startups: 8-bit video games, railroad communication systems, internet postage and e-commerce systems among others. Keith was part of a facial recognition startup that was acquired by Google, he's since worked on web-based image recognition, started the Google Photos Mobile group, prototyped apps on Google Glass, worked on the geo-location game Ingress (precursor to Pokemon Go), did an Area 120 internal startup project and has been a part of the Gradient Venture residency program since its inception.


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/kyle-nesbit.jpg" />


</td>  
<td>



<strong>Kyle Nesbit</strong>

Kyle is Gradient’s Chief Resident. He recruits Google’s top talent to join Gradient’s residency and works with founders to match Gradient’s talent with their companies’ needs.  Before becoming Chief Resident, Kyle did two resident rotations with Gradient portfolio companies.

Kyle has been at Google for 12 years managing some of Google’s most ambitious technical infrastructure and AI research projects. 

Kyle grew up in Milwaukee and received his BS and PhD from the University of Wisconsin-Madison.


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/mike-procopio.jpg" />


</td>  
<td>



<strong>Mike Procopio</strong>

Mike Procopio is a Senior Staff Software Engineer at Google. He’s passionate about using machine intelligence to create positive user experiences and impact for good. 

Before joining Gradient, Mike worked for eight years on Google Drive leading the Drive API and Drive Intelligence teams, and is currently on his second Gradient residency.

Mike holds a Ph.D. in Computer Science from the University of Colorado, where he studied Machine Learning and Autonomous Robot Navigation. 

When not working on ML-like things, Mike can be found running along the trails near his home in Boulder, Colorado.


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/bo-shi.png" />


</td>  
<td>



<strong>Bo Shi</strong>

Bo Shi is a Staff Software Engineer at Google. Prior to joining Gradient, he worked on the Cloud product area building infrastructure and products on top of GCP.

Before Google, Bo was involved in several early stage startups (co-founding one) in a diverse set of industries: data analysis, gaming, business-to-business, among others.

Bo grew up in Maine and holds a BS in Electrical Engineering from the Massachusetts Institute of Technology.


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/shawn-simon.jpg" />


</td>  
<td>



<strong>Shawn Simon</strong>

Shawn is a full-stack engineer who specializes in Software Architecture and UX. He has launched a diverse set of consumer products and business applications both within Google and at other start-ups.

Shawn’s passion for technology and the internet started at an early age via neighborhood dial-up BBSes, using scripts to automate gameplay tasks. He graduated with a BS in Information Science and Technology from Temple University in his hometown of Philadelphia.

Outside of Gradient, Shawn likes to participate in Google's Computer Science Summer Institute (CSSI), gaming, and hanging out with his dog, Moose.


</td></tr>  
<tr>  
<td>



<img src="https://storage.googleapis.com/gradient-site-assets/minghua-ye.jpg" />


</td>  
<td>



<strong>Minghua Ye</strong>

Minghua works as a technical advisor for Gradient portfolio companies with a focus on security, scalability and reliability of the startup tech stacks.

Prior to joining Gradient, Minghua worked on the infrastructure team of Bebop, leading the effort of Google integration and scalability of the Bebop platform. During the early career at Google, Minghua was the founding member of Google App Engine SRE team, leading the effort of scalability, performance and security of App Engine serving infrastructure. 

Minghua graduated from Fudan University, Shanghai, China with a BS in Computer Science and Ph.D in Computer Engineering from Nanyang Technological University, Singapore.


</td></tr></table>
    <div class="blog-detail__social" ng-controller="socialShareController">
      <p class="blog-detail__social__title"><strong>Share on Social</strong></p>
      <ul class="blog-detail__social__list">
        <li class="blog-detail__social__item blog-detail__social__item--facebook">
          <a href="#" target="_blank" data-share-facebook>Share on Facebook</a>
          </li>
        <li class="blog-detail__social__item blog-detail__social__item--twitter">
          <a href="#" target="_blank" data-share-twitter>Share on Twitter</a>
          </li>
        <li class="blog-detail__social__item blog-detail__social__item--linkedin">
          <a href="#" target="_blank" data-share-linkedin>Share on LinkedIn</a>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="contact-form"
  data-action="https://services.google.com/fb/submissions/gradientventures/"
  ng-controller="contactFormController as contactFormCtrl">
  <div class="contact-form__title">
    Gradient Ventures updates delivered straight to your inbox
  </div>
  <div class="contact-form__result" ng-if="contactFormCtrl.isSuccess">
    Thank you, we&#39;ll be in touch.
  </div>
  <form
    ng-if="!contactFormCtrl.isSuccess"
    class="contact-form__form"
    name="contactForm"
    ng-submit="contactFormCtrl.subscribe(contactForm, user)">
      <input type="hidden" name="LanguagePreference" value="en">
      <input type="hidden" name="GradientUpdates" value="TRUE">
      <input class="contact-form__field" type="text" name="name"
        ng-model="user.name" required
        placeholder="Name">
      <span class="contact-form__feedback" ng-show="contactForm.name.$invalid &&
        contactForm.name.$touched">
        Your name is required.
      </span>
      <input class="contact-form__field" type="email" name="EmailAddress"
        ng-model="user.email" required
        placeholder="Email address">
      <span class="contact-form__feedback" ng-show="contactForm.email.$error.required &&
        contactForm.email.$touched">
        Your email is required.
      </span>
      <span class="contact-form__feedback"  ng-show="contactForm.email.$error.email &&
        (contactForm.email.$touched && contactForm.email.$dirty)">
        Enter a valid email address.
      </span>
      <p class="contact__form__disclaimer">
        Sign up to receive newsletters from Gradient Ventures. Your information will be used in accordance with Google&#39;s privacy policy. You may opt out at any time.
      </p>
        <button
      propagate-query-string
      type="submit"
      class="button button--uppercase"
      >
      Subscribe
  </button>

  </form>
</div><div class="footer">
  <div class="footer__nav">
    <div class="footer__nav__links">
      <div class="footer__nav__links__item">
        <a href="https://www.google.com">  <img
      src="https://www.google.com/earth/education/images/google-bw-logo.svg"
  >
</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://google.ai">Google.ai</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/privacy/">Privacy</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/terms/">Terms</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://about.google/">About Google</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://sites.google.com/corp/google.com/gradient/">Founders Portal</a>
      </div>
    </div>
  </div>
  <div class="footer__disclaimer">
    
  </div>
</div>    </div>
  </body>
</html>