<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

<meta name="description" content="Portfolio.">    <link rel="canonical" href="https://gradient.com/portfolio/">
    <title>Portfolio - Gradient Ventures</title>

    <meta name="google-site-verification" content="iNS9I-TcJimRz2vaKHw1671G4m6tLb2snGW5UgrxxwE" />
    <meta name="google-site-verification" content="JwLD6maGxoiKuUhapHIqBVQfWYR15uVo2c0TMhQl_ks" />

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gradient Ventures">
    <meta property="og:url" content="https://gradient.com/portfolio/">
    <meta property="og:title" content="Portfolio - Gradient Ventures">
    <meta property="og:description" content="Portfolio.">
    <meta property="og:image:secure_url" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20(2).png">
    <meta property="og:image" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20(2).png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="en">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="gradientvc">
    <meta name="twitter:creator" content="gradientvc">
    <meta name="twitter:title" content="Portfolio - Gradient Ventures">
    <meta name="twitter:description" content="Portfolio.">

    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CGoogle+Sans:400,500">
    <link href="../static/css/main.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="../static/js/main.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103590973-01"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-103590973-01', { 'page_referrer' : document.referrer.split('?')[0] });
    </script>
  </head>
  <body add-browser-name>
    <div class="main">

<div class="header" data-scroll-header
  ng-controller="navController as navCtrl">
  <div class="header__logo">
    <a href="../index.html" title="Starter">
        <img
      src="../static/images/logo.svg"
  >

    </a>
  </div>

  <nav class="header__nav">
        <ul class="header__nav__list">
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          header__nav__link--active" href="index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../team/index.html">
          Team
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../blog/index.html">
          Blog
        </a>
      </li>
  </ul>

  </nav>

  <div class="header__nav-drawer">
      <div class="header__nav-drawer__overlay"
        ng-click="navCtrl.toggleNavDrawer()">
      </div>
    <nav class="header__nav-drawer__menu">
      <a href="../index.html" title="Starter" class="header__nav-drawer__logo">
          <img
      src="../static/images/single-color-logo.png"
  >

        <span>Gradient Ventures</span>
      </a>
        <ul class="header__nav-drawer__list">
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          header__nav-drawer__link--active" href="index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../team/index.html">
          Team
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../blog/index.html">
          Blog
        </a>
      </li>
  </ul>

    </nav>
  </div>

  <div class="header__mobile-nav-toggle">
    <button class="header__burger-icon"
      ng-click="navCtrl.toggleNavDrawer()">
    </button>
  </div>

</div><div class="hero hero--portfolio">
  <div class="hero__content">
    <div class="hero__content__main hero__content__main--portfolio">
      <div class="hero__content__main__title">Meet our companies </div><div class="hero__content__main__body"> Whether enriching the AI developer toolkit, solving industry-wide challenges with machine learning, or finding innovative solutions to specific problems, our companies are shaping the future using artificial intelligence.</div>
      
    </div>
  </div>

  <div class="hero__videos">
    <video autoplay loop muted class="hero__videos__video hero__videos__video--portfolio">
      <source src=https://www.gradient.com/static/videos/portfolio_nodrone.webm type=video/webm>
      <source src=https://www.gradient.com/static/videos/portfolio_nodrone.mp4 type=video/mp4>
    </video>
  </div>

    <div class="hero-bg hero-bg--portfolio mobile-only"
      style="background-image: url(../static/images/portfolio/shelf_375_x2.png)">
    </div>
    <div class="hero-bg hero-bg--portfolio tablet-only"
      style="background-image: url(../static/images/portfolio/shelf_796_x2.png)">
    </div>
</div>

<div class="grid-company">
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/U-iReyuX1-9sZD8BS3KhsA0e3UKO2t0crknnxtHei26efaTr3FA6rD2EiwCskZoalSZXiEwbm6FH14Y_zdl54uGswhAaxR-tUXA9"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Algorithmia’s AI Layer manages the machine learning lifecycle and automates the deployment of machine learning models at scale.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://algorithmia.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/E0GUGGACqtTIc8fPBBS5Dj7qhv2XWy4znZUaQPkTKvMmgeM0u9rWK9ljGBnruldLccVvyUKoTZz7pKhaR0AsMP09udmcPCR9cBMw"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          AllyO is intelligently automating the end-to-end recruiting workflow for both applicants and hiring teams through its AI recruiter called Ally.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://allyo.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/H9y7H1Uy6OBGgmlfcHtMHOdravb58wzh7eZLV1a10cXIKBMpWRdbkibw0I7VnqtVB-ENrwMudE-MbRa8kvv38Fc-YwPLyZQAyFYc"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Anvil automates tedious paperwork through customizable online workflows that gather information, prepare documents, request signatures, and integrate directly with your business software.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.useanvil.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/xrkkTaNnZoUKzmSopI-UPsB2kZqNvXQAQjM50H3iSbZYX5n_isSXsGnPCwMV4s6lcjghNazZfip3LqzQ1nY-HTPklB1PUtanlKPg"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Back is a modern employee service platform that enables internal service teams to manage and automate employee requests and internal workflows on one intuitive platform.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://backhq.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/jmI5YzBpdPG3xpVpN_ZeD2P2hjb816rjvtVEnoHKOgmiP1LO9ELXAXNR4XyPZnNxdNk5oFzpn4j6FCHmsuozp2gM8hoPJf1JBdXPYQ"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          BenchSci accelerates biomedical discoveries by using AI to decode published research.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.benchsci.com">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/dTDS8EgWS3IRXB3lk6j5A9IKey1duDwpH6p0FdSiWsTuqDjvcT8zXNgv9ZK9xFUY_it2Gu7hd5XV5rQv1B6VAGfjTxxL2vuAX2Z7W_4"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Benepass is the company card and mobile app that gives your employees all the information they need about their benefits in one place.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.getbenepass.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/goLGZY8tJbHAQbAZJofsa4sV66UTjKqi2z4WuNZQD0N9K7NGc0B1s5VHJkCsU7dd0u9gD6gPjOt2mOSmQjIF9IRI9r70K0dovO_z"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Botkeeper provides automated bookkeeping support to businesses by using a powerful combination of skilled accountants alongside machine learning and AI.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.botkeeper.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/eMamyeYOYxmxiVWcNoBsh5rR14ZBsFPWfLzZ6XRShq0u3fPpkvWhiIVsRtTz5N1Dsn0W2ay5vvxDgtm2kkAaGRI5EZGHi8yqJm1NyI4"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Canvass Analytics is an AI-powered predictive analytics platform for Industrial Internet of Things.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.canvass.io/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/qrDYLt7w1jHtSvq5eiln9XUcbqe7p6PX9SrxovldDjMDnagNHG7HQo1LNCHdzKP6ce-WEOu8zm4y_HZmN0baX5woH21OU83otIA9bQ"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Cogniac provides software to easily create and visually compose Convolutional Neural Network models.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://cogniac.co/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/bunVsvAKlez5mGTK5NtOI-JT9oBZPbBEj2yB0e6xFzAprTa8s1ZdExWtelHv5Jq-zxw1nTWR35Tl8ufZugwHCOOi3vHsWKsblIZYHiU"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Contractbook is a contract management platform where you can create, sign and store all your contracts in one digital flow.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://contractbook.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/nQxfeZ6xKOekvhlfzGyFSizVV6vxVWiY95Ynyj55twtgamMG6UdTG3dWswS-HeaAmOX1ILWCcrMitctFV0HLW11cwIfUS87rH8c5"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Dyndrite&#39;s Accelerated Geometry Kernel (AGK) and Additive Toolkit combines to increase productivity and reduce processing time for the additive user or technician.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.dyndrite.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/lInvlwudmTR04FS4i6yHKdH31Aa7Mflqbe_Xh3To06iuNoxyaOw73kTOWnlQ3rbZJ_mM3-B3OVe2y45SHbbwyiWfV72e3alJTbagaw"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Elsa is a mobile app that uses AI and speech recognition technology to help language learners improve their English pronunciation.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.elsaspeak.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/dNdkJp7kAae3a-UE1JKiMWlK5_zaWzxDB0yrtDfKJwXfJpBQqK4v0WDv1mD4Nk3GAGiUw02CHPGyT4XWB3ltBOYY9ja38LstJQa6"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Flatfile turns messy customer spreadsheets into useful product data.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://flatfile.io/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/ATPw4PiMRl9HYFDowfpaXsqFSnh6oluXNrTV-lwHRBHYh0aJEddF2pyXoAiE9ul0DQ55vOgqHFOzRXY6y0_tWA_68cMcaQU_HTbUDw"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Flyreel’s AI assisted underwriting creates a baseline for a better insurance experience across the lifecycle.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.flyreel.co/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/5uXDJwal2D7Q3Ncr1XVLD_A0pMuRIkINyzIpSWcajqb5mYVy6x8oVzSNyIpkRTe4llzmzr7RQpZOQCR0vOYQmVKtSZuv8vm_BQ6f5A"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Hugo is connected meeting notes software — centralized, searchable meeting notes that integrate with 20+ of your favorite tools.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.hugo.team/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/u9Q9lSiELSLWJ8cQpuq5VJnuyRkNgQgUBEx8UnaVlOBQdCN22b2KgJ_B9QtgQ0_vVxbO3yl7xzBOFqTNpE5srlplGM4_EmOHiP_uIQ"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Kaizo improves team’s operational efficiency, performance, and engagement with a gamified AI platform that turns support-performance metrics into actionable, gamified insights.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://kaizo.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/58AxUcL5Tggd2C737sgiZGv5iWnIzL5QDkwKOHA86FxBAiercI4laDERt_4kn8Kqddr5EdTtFB1V-Ul_ys6a1TX6CM2Hpj2cwjCbdw"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          LabelBox is a software platform that makes it easy to create and manage labeled data, enabling rapid deployment of artificial intelligence applications.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.labelbox.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/jXeyggENqaTz4-CIJkHeZW40kmNYg_3O7ltIfiGR8q3jwwxxYJhgcreRSjZIh8byBce4MhWu8MAShWXV7fWuMSR-7gMfbg1pKx2z"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          MainStreet helps startups effortlessly discover, apply for, and receive government credits and incentives.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://workonmainstreet.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/9meD5MmiI8ZZ4QOFs2IFGirgyK-48N2T8u2wNSvuuWEm9V0w6Z2FwWMm8fHDwIeuvvj65A47pH7XG8vsYEwLyo8Td0GrzKCE2rpT"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Mojo Vision is rethinking how people receive and share information in a way that is immediate and relevant, without diverting their attention.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://mojo.vision/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/yDaByl5BM7hp0XkMYoiI_cWXd5yiwgd0Ip1eeNw-XN26tWsMk_DL21FHOMtyKcTj2OLphzn-LIvu6sFozTHcm8QTJpLixX_gON9BFw"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Mural is a digital workspace for visual collaboration that allows you to share notes, be creative and stay productive in real time regardless of where your team is based.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://mural.co/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/3j-_czjUFfeBE6epj1vzoaZs1HKDMHk040QzlNsBEzvqap2bkZJKgkbdtuUmYNfomkSUmv7Hs5BVgh46tkKwLOhJmXV2Oua4Exkdaio"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          nuffsaid is a Workflow Intelligence platform that uses AI to help you focus on the work that matters.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.nuffsaid.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/8Nx0X3Mbsm_T7iWqKvyJEyGSuCXRdmK8kreySS4CJOc2oUrAj64Sxip7A6kgU0gRd7P4JHmML8TWqUST180fwMBv948UGu0gAsEr"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          NumberAI is the AI-powered conversational commerce platform for Main Street.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.NumberAI.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/Gz7GdIlnVcFapgPtxow0hpb8lrulNd0Hhn_n5QZ1Dfhmwkc_Ds9tzicAU-EQF_uq8JHvtTJ5gna0wXjVEpMZGt64Ncm-J1C-vQAdSgA"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          OnScale accelerates research and development, reduces costs and helps engineers build a better future.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://onscale.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/4jHUi-iOs6i0NRxRjojb9LyHMJN0eh3wvrfnLPDvDYbIdpeSVfjhwPZLhUBkdmtIUhO-4F6poXwyBQYs60Hhx6Kc8geJLsX07Rv7ggc"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Openly is a premium, tech-forward insurance platform and provider that’s designed specifically to be sold through independent brokers.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://openly.inc/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/2oJx0UzeppnmQtQ-hPo9SiPFdWuI0IQSmi543dUWrBD_Sg1T2YspE2lpFSy5M6Ln9a8bvxPtjiDYAHcPZEvwHJUKYJ1ZkSzB59snUYY"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Oura is a smart ring that tracks key signals from your body while you sleep, delivering critical insights helping you harness your body’s potential every day.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://ouraring.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/XTGCBuudLAMlU-7QDUy6WwjfsOw_aLfF04i6_nHGdCMtj3nV8fG0p2bybhTmICU-yhu29kgwieqJmvD3N3KYfswvY44X1iT_25LGzY8"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Plannuh optimizes the performance of your marketing spend and strategy through AI-driven budgeting and planning software.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.plannuh.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/2qFnS2nhteb3s-Em94gWytMSmnJ-7QFWjPOSnsy_w-O6lpKzBNppI12Oq0318kqI3o1LT6M3XZeLHwv3oxS0XUF9njrw8u7PYbqLpg"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          PullRequest is building a code quality platform, combining artificial intelligence with a marketplace of human experts.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.pullrequest.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/dfGxVz2FyoVTur-6jpeoW-_Ug8l5oB_axaYOLjkxmDG1vsO9g7u_wELg3KGDmBjyTjUPat-ADB28uA3Hu-QZ-7yRzv7youcRiWNUUXM"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Rad AI is a platform built by radiologists, for radiologists, that optimizes workflows to help save time and energy.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.radai.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/kBQUqe21WZN2mqbEVdpAPGCWW4i-zNhgoi9VmgLPdXPAhSYg7mWHm8-SN2z4paLOhGE4xstZQXZ40KXjoJ8iSO1NI7mpvjdkKb9W"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          RevOps is a sales productivity platform that help businesses easily configure, price, quote, and sign deals in seconds through automation and collaborative pricing tools
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.revops.io/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/7Utndxsex3XxS873elcF_Ud8U29B0TRpsw6UpDjNu0F7zDNR61v0hBCXaZRCMapp8wX2v22a1pm6PdesMYfT99rrjD4siva9zW96_Q"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Sapling is building a people management platform focused on empowering People Operations teams with connectivity, data and insights on their global workforce.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.saplinghr.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/Z0ritW_-blBNg3i5jzAHOEChlKab6F17lWsgAm_IXHGvKLwsOPS_17jUBM83n-WQa4OEFGs7lOY3BrO32qGz6k3eLNoH4govyzz777w"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Scotty Labs is reinventing the driving experience.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.scotty.ai/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/ZdyiMiKmrjBnlO_57HMyVykl7HqM6P1Momjd--MPwgdu2yzrZbF-wgoS2RNEfYNFcIMTDxrTivDvwLuMAe7I2m2xPGVYxYSMfKob"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Streamlit lets machine learning engineers quickly create apps for data exploration, model debugging, and results presentation.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://streamlit.io">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/-yDBDXJdHnwov0gPnbxfjGS2RPElqblqjDlLV5Kz2IcO6vqkbvLLsZZSQIZtoimiEXngZRoufsH64LPPX0sYdrkj2qmOcV-iluuEPA"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Test.ai is pioneering AI-powered user scenario testing for mobile and web apps.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://test.ai/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/r1go2-BpqNeew2qqJWwfRnYyMAdCdY1Hb842yi4mFqxRz-sbaVlWDqarPDcciQbne3ZW7y9AzkH_PzEaUZtWIbBCQKUk_JNkdDec7ZE"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          TypingDNA analyses typing behavior to provide user-friendly, non-intrusive biometrics, increased security, and frictionless authentication based on how you type.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.typingdna.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/_dHtIUqWqZ-uDKhQVYhOrOKrTWI27vUfsBgIHcTs_qNtMa0JVE9gxQ9XwUkGWL4Op35SP0qOcRxFfVLPqCFEdCkS9oM967uECGev"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Ubiquity6 is using recent advancements in computer vision to build ubiquitous shared AR experiences.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://ubiquity6.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/jKKULqa7g3O7d6uiM2sy59gVE_pOu36Ura_CLnfWDsbVkZHpTKu3qngH8eu2WvSBGGqgBR1YL8k_GEBthRp5cZTwp2UvDoEQAnCGKQ"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          unitQ analyzes popular customer channels to uncover potential issues with your product, in real time.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.unitq.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/PcnsvGSTI4-oNtf_qBY9-7aT5gDHErmUsDrYBuGX38onJBTcugBcMmWktJE0HgvMjaELdvFyGSAkC94BqawdVSv0o-7mJZ_KTFSh"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Wise Systems is the first autonomous dispatch and routing software for high-performance delivery fleets.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.wisesystems.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/5J6lY2w4Wfrj2eVtFIH66vPRtyaNEp0eHUEzFTQ0KguTjAF3ZaPpbjRJRc0rSsQzX3Ej11HhOw9DgK2OXROHqZD949ZQHxkUnP90Dw"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Yaguara is a platform designed to aggregate and simply present data for all levels across your organization helping teams get the insights they need to work better, together.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://www.yaguara.co/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/GTdMtru5c3nDaVrrobm-AP-5kB6PWyrj9nPqMYlnzNZYMGg_thV9LM9ED_T6wtt2MRm7IzrSBMeLYPtl99tGNd-nxh1AyLJkDlyL"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Young Alfred helps you buy home, auto, renters and specialty property policies online that are personalized and safe.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://youngalfred.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
    <div class="company-card">
      <div class="company-card__header">
        <div class="company-card__image">
              <img
      src="https://lh3.googleusercontent.com/5xLBj6LDczAn7aiz_C2CUeiEdsgFfF_MEtF2uyA6TTKBhc8232UxsryNAawLtXxCrCkzENNUYHz2aYkrr0cGCZGwgaO2AvzsQIuZ"
class="company-card__image"  >

        </div>
      </div>
      <div class="company-card__body">
          Zorroa extracts valuable insights and actionable intelligence from massive collections of visual assets including documents, images, and video.
      </div>
      <div class="company-card__footer">
       <a class="company-card__link"
        href="https://zorroa.com/">
         <i class="material-icons company-card__icon"> arrow_forward </i>
        </a>
      </div>
    </div>
</div><div class="contact-form"
  data-action="https://services.google.com/fb/submissions/gradientventures/"
  ng-controller="contactFormController as contactFormCtrl">
  <div class="contact-form__title">
    Gradient Ventures updates delivered straight to your inbox
  </div>
  <div class="contact-form__result" ng-if="contactFormCtrl.isSuccess">
    Thank you, we&#39;ll be in touch.
  </div>
  <form
    ng-if="!contactFormCtrl.isSuccess"
    class="contact-form__form"
    name="contactForm"
    ng-submit="contactFormCtrl.subscribe(contactForm, user)">
      <input type="hidden" name="LanguagePreference" value="en">
      <input type="hidden" name="GradientUpdates" value="TRUE">
      <input class="contact-form__field" type="text" name="name"
        ng-model="user.name" required
        placeholder="Name">
      <span class="contact-form__feedback" ng-show="contactForm.name.$invalid &&
        contactForm.name.$touched">
        Your name is required.
      </span>
      <input class="contact-form__field" type="email" name="EmailAddress"
        ng-model="user.email" required
        placeholder="Email address">
      <span class="contact-form__feedback" ng-show="contactForm.email.$error.required &&
        contactForm.email.$touched">
        Your email is required.
      </span>
      <span class="contact-form__feedback"  ng-show="contactForm.email.$error.email &&
        (contactForm.email.$touched && contactForm.email.$dirty)">
        Enter a valid email address.
      </span>
      <p class="contact__form__disclaimer">
        Sign up to receive newsletters from Gradient Ventures. Your information will be used in accordance with Google&#39;s privacy policy. You may opt out at any time.
      </p>
        <button
      propagate-query-string
      type="submit"
      class="button button--uppercase"
      >
      Subscribe
  </button>

  </form>
</div><div class="footer">
  <div class="footer__nav">
    <div class="footer__nav__links">
      <div class="footer__nav__links__item">
        <a href="https://www.google.com">  <img
      src="https://www.google.com/earth/education/images/google-bw-logo.svg"
  >
</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://google.ai">Google.ai</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/privacy/">Privacy</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/terms/">Terms</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://about.google/">About Google</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://sites.google.com/corp/google.com/gradient/">Founders Portal</a>
      </div>
    </div>
  </div>
  <div class="footer__disclaimer">
    
  </div>
</div>    </div>
  </body>
</html>