<!DOCTYPE html>
<html>
<head>
  <title>Estimate My App</title>
  <meta charset="utf-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="How much does it cost to make a Web, iOS or Android app and how long does it take?">
  <meta name="author" content="Oozou">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook Open Graph -->
  <meta property="og:title" content="Estimate My App"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://estimatemyapp.com">
  <meta property="og:site_name" content="Estimate My App"/>
  <meta property="og:description" content="How much does it cost to make a Web, iOS or Android app and how long does it take?" />
  <meta property="og:image" content="https://estimatemyapp.com/estimatemyapp-og.png">

  
  <meta http-equiv="X-Recruiting" content="If you're reading this, maybe you should be working at Oozou instead.">
  <meta name="keywords" content="App,Estimate,Cost,Ruby,Rails,iOS,Android,Development,Interface,Design,UI,UX,GUI,Agile" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" media="all" href="style.css" data-turbolinks-track="true" />
  

</head>
<body ng-app="app" ng-controller="EstimateCtrl">
  <div class="container" ng-if="featureList">
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img data-hidpi-src="https://d3h99m5mv5zvgz.cloudfront.net/assets/logo@2x-f4f4e34d59e6dc117a8c87af0e6e99f95d4bb4c4c6514aff4bb629ad1969aa5b.png" height="31px" src="https://d3h99m5mv5zvgz.cloudfront.net/assets/logo-b1f749be3707b4fed1203c68395b51117e84e64f0747c438bc072d66eb6b595c.png" alt="Logo" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://oozou.com/work">Work</a></li>
        <li><a href="https://blog.oozou.com/">Blog</a></li>
        <li><a href="https://oozou.workable.com">Careers</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <div class="lead">
  <h1 class="heading">Estimate My App</h1>
  <p class="subheading">Select the items below which best describe your app and the features you require.</p>
  <p class="note">All estimates are approximate but should give you a rough idea of what it will take to build your app.</p>
</div>

<div role="tabpanel">
  <!-- Nav tabs top -->
  <ul class="nav nav-tabs nav-tabs-top" role="tablist">
    <li role="presentation" class="active">
      <a href="#web" aria-controls="web" role="tab" data-toggle="tab" class="web">
        <i class="fa fa-desktop fa-fw"></i> Web
        <p class="description">A web app or a <br>back-end to a mobile app</p>
      </a>
    </li>
    <li role="presentation">
      <a href="#ios" aria-controls="ios" role="tab" data-toggle="tab" class="ios">
        <i class="fa fa-apple fa-fw"></i> iOS
        <p class="description">An iPhone / iPad app<br>(Excluding back-end)</p>
      </a>
    </li>
    <li role="presentation">
      <a href="#android" aria-controls="android" role="tab" data-toggle="tab" class="android">
        <i class="fa fa-android fa-fw"></i> Android
        <p class="description">An Android Phone / Tablet app<br>(Excluding back-end)</p>
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="web tab-pane active" id="web">
      <!-- App Sizes -->
<section class="well">
  <div class="heading">
    <h3>1. <span ng-bind="featureList.web.app_sizes.title"></span></h3>
  </div>
  <div class="row">
    <div class="feature col-xs-12 col-sm-12 col-md-4"
      ng-repeat="item in toArray(featureList.web.app_sizes.features)"
      ng-class="{checked : item.checked}">
      <img ng-src="{{item.image_url}}" class="img-mobile img-circle" />
      <label popover-trigger="{{{true: 'mouseenter', false: 'never'}[isPopoverEnabled]}}"
        popover-placement="bottom" popover="{{item.description}}">
        <h4 ng-bind="item.title"></h4>
        <input type="checkbox" class="radio hidden"
          name="list_radio_app_sizes"
          ng-model="item.checked"
          ng-click="uncheck_others(item, featureList.web.app_sizes.features)">
        <div class="checkmark">
          <img ng-src="{{item.image_url}}" class="img-responsive img-circle" />
        </div>
        <p class="description"> {{item.description}} </p>
      </label>
    </div>
  </div>
</section>

<!-- Design Levels -->
<section class="well">
  <div class="heading">
    <h3>2. <span ng-bind="featureList.web.design_levels.title"></span></h3>
  </div>
  <div class="row">
    <div class="feature col-xs-12 col-sm-12 col-md-4"
      ng-repeat="item in toArray(featureList.web.design_levels.features)"
      ng-class="{checked : item.checked}">
      <img ng-src="{{item.image_url}}" class="img-mobile img-circle" />
      <label popover-trigger="{{{true: 'mouseenter', false: 'never'}[isPopoverEnabled]}}"
        popover-placement="bottom" popover="{{item.description}}">
        <h4 ng-bind="item.title"></h4>
        <input type="checkbox" class="radio hidden"
          name="list_radio_design_levels"
          ng-model="item.checked"
          ng-click="uncheck_others(item, featureList.web.design_levels.features)">
        <div class="checkmark">
          <img ng-src="{{item.image_url}}" class="img-responsive img-circle" />
        </div>
        <p class="description"> {{item.description}} </p>
      </label>
    </div>
  </div>
</section>

<!-- Dev Features -->
<section class="well"
  ng-repeat="section in toArray(featureList.web.dev_sections)"
  ng-if="section.display != false">
  <div class="heading">
    <h3><span ng-bind="$index+3"></span>. <span ng-bind="section.title"></span></h3>
  </div>
  <div class="row">
    <div class="feature col-xs-12 col-sm-12 col-md-3"
      ng-repeat="item in toArray(section.features)"
      ng-class="{checked : item.checked}"
      ng-click="include_payment_processing(item, section, $event)">
      <img ng-src="{{item.image_url}}" class="img-mobile img-circle" />
      <label popover-trigger="{{{true: 'mouseenter', false: 'never'}[isPopoverEnabled]}}"
        popover-placement="bottom" popover="{{item.description}}">
        <h4 ng-bind="item.title"></h4>
        <input type="checkbox" name="list_checkbox_{{$parent.$index+3}}"
          class="hidden" ng-model="item.checked">
        <div class="checkmark">
          <img ng-src="{{item.image_url}}" class='img-responsive img-circle' />
        </div>
        <p class="description"> {{item.description}} </p>
      </label>
    </div>
  </div>
</section>

<!-- Details -->
<section class="row">
  <a class="col-xs-12 col-sm-12 col-md-12 text-center detail-reveal" data-toggle="collapse"
    href="#details_web"
    ng-click="isShowingDetail.web = !isShowingDetail.web"
    >
    Click to {{isShowingDetail.web ? 'Hide' : 'Show'}} Calculations
    <i class="fa fa-chevron-{{isShowingDetail.web ? 'up' : 'down'}}"></i>
  </a>
</section>

<section class="well collapse" id="details_web">
  <table class="table feature-detail">
    <thead>
      <tr>
        <td class="section-title">
          1. {{featureList.web.app_sizes.title}}
        </td>
        <td class="man-days">Base Days</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in toArray(featureList.web.app_sizes.features)">
        <td>
          <div class="radio-container checkbox checkbox-circle">
            <input type="checkbox" class="radio"
              id="table_radio_app_sizes_{{$index+1}}"
              name="table_radio_app_sizes"
              ng-model="item.checked"
              ng-click="uncheck_others(item, featureList.web.app_sizes.features)">
            <label for="table_radio_app_sizes_{{$index+1}}">
              {{item.title}}
            </label>
          </div>
        </td>
        <td>
          <input type="number" id="table_quantity_app_sizes_{{$index+1}}"
            ng-model="item.days" min=0 max=50 class="form-control">
        </td>
      </tr>
    </tbody>
  </table>
  <p><em>* Number of developer days for the app core</em></p>

  <table class="table feature-detail">
    <thead>
      <tr>
        <td class="section-title">
          2. {{featureList.web.design_levels.title}}
        </td>
        <td class="man-days">Percentage</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in toArray(featureList.web.design_levels.features)">
        <td>
          <div class="radio-container checkbox checkbox-circle">
            <input type="checkbox" class="radio"
              id="table_radio_design_levels_{{$index+1}}"
              name="table_radio_design_levels"
              ng-model="item.checked"
              ng-click="uncheck_others(item, featureList.web.design_levels.features)">
            <label for="table_radio_design_levels_{{$index+1}}">
              {{item.title}}
            </label>
          </div>
        </td>
        <td>
          <input type="number" id="table_quantity_design_levels_{{$index+1}}"
            ng-model="item.days" min=0 max=100 class="form-control">
        </td>
      </tr>
    </tbody>
  </table>
  <p><em>* UX/UI design required as a percentage of base app days</em></p>

  <div ng-repeat="section in toArray(featureList.web.dev_sections)">
    <table class="table feature-detail" ng-if="features(section.features).length != 0">
      <thead>
        <tr>
          <td class="section-title">{{$index+3}}. {{section.title}}</td>
          <td class="man-days">Days</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in features(section.features)">
          <td>
            <div class="checkbox">
              <input type="checkbox"
                id="table_radio_{{$parent.$index+3}}_{{$index+1}}"
                name="table_radio_{{$parent.$index+3}}" ng-model="item.checked">
              <label for="table_radio_{{$parent.$index+3}}_{{$index+1}}">
                {{item.title}}
              </label>
            </div>
          </td>
          <td>
            <input type="number"
              id="table_quantity_{{$parent.$index+3}}_{{$index+1}}"
              ng-model="item.days" min="0" max="50" class="form-control" />
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table feature-detail percentage-detail" ng-if="features(section.features, 'percentage').length != 0">
      <thead>
        <tr>
          <td class="section-title">{{$index+3}}. {{section.title}}</td>
          <td class="man-days">Percentage</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in features(section.features, 'percentage')">
          <td>
            <div class="checkbox">
              <input type="checkbox"
                id="table_radio_{{$parent.$index+3}}_{{$index+1}}"
                name="table_radio_{{$parent.$index+3}}" ng-model="item.checked">
              <label for="table_radio_{{$parent.$index+3}}_{{$index+1}}">
                {{item.title}}
              </label>
            </div>
          </td>
          <td>
            <input type="number"
              id="table_quantity_{{$parent.$index+3}}_{{$index+1}}"
              ng-model="item.percentage" class="form-control" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <table id="day-rate" class="table feature-detail">
    <thead>
      <tr>
        <td>Design Day Rate</td>
        <td class="dev-rate">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min=0
              class="form-control currency"
              ng-model="featureList.web.rates.design" />
          </div>
        </td>
      </tr>
      <tr>
        <td>Developer Day Rate</td>
        <td class="dev-rate">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min=0
              class="form-control currency"
              ng-model="featureList.web.rates.dev" />
          </div>
        </td>
      </tr>
      <tr ng-if="projectManager('web').checked">
        <td>Project Manager Day Rate</td>
        <td class="dev-rate">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min=0
              class="form-control currency"
              ng-model="featureList.web.rates.pm" />
          </div>
        </td>
      </tr>
    </thead>
  </table>
</section>

    </div>
    <div role="tabpanel" class="ios tab-pane" id="ios">
      <!-- App Sizes -->
<section class="well">
  <div class="heading">
    <h3>1. <span ng-bind="featureList.ios.app_sizes.title"></span></h3>
  </div>
  <div class="row">
    <div class="feature col-xs-12 col-sm-12 col-md-4"
      ng-repeat="item in toArray(featureList.ios.app_sizes.features)"
      ng-class="{checked : item.checked}">
      <img ng-src="{{item.image_url}}" class="img-mobile img-circle" />
      <label popover-trigger="{{{true: 'mouseenter', false: 'never'}[isPopoverEnabled]}}"
        popover-placement="bottom" popover="{{item.description}}">
        <h4 ng-bind="item.title"></h4>
        <input type="checkbox" class="radio hidden"
          name="list_radio_app_sizes"
          ng-model="item.checked"
          ng-click="uncheck_others(item, featureList.ios.app_sizes.features)">
        <div class="checkmark">
          <img ng-src="{{item.image_url}}" class="img-responsive img-circle" />
        </div>
        <p class="description"> {{item.description}} </p>
      </label>
    </div>
  </div>
</section>

<!-- Design Levels -->
<section class="well">
  <div class="heading">
    <h3>2. <span ng-bind="featureList.ios.design_levels.title"></span></h3>
  </div>
  <div class="row">
    <div class="feature col-xs-12 col-sm-12 col-md-4"
      ng-repeat="item in toArray(featureList.ios.design_levels.features)"
      ng-class="{checked : item.checked}">
      <img ng-src="{{item.image_url}}" class="img-mobile img-circle" />
      <label popover-trigger="{{{true: 'mouseenter', false: 'never'}[isPopoverEnabled]}}"
        popover-placement="bottom" popover="{{item.description}}">
        <h4 ng-bind="item.title"></h4>
        <input type="checkbox" class="radio hidden"
          name="list_radio_design_levels"
          ng-model="item.checked"
          ng-click="uncheck_others(item, featureList.ios.design_levels.features)">
        <div class="checkmark">
          <img ng-src="{{item.image_url}}" class="img-responsive img-circle" />
        </div>
        <p class="description"> {{item.description}} </p>
      </label>
    </div>
  </div>
</section>

<!-- Dev Features -->
<section class="well"
  ng-repeat="section in toArray(featureList.ios.dev_sections)"
  ng-if="section.display != false">
  <div class="heading">
    <h3><span ng-bind="$index+3"></span>. <span ng-bind="section.title"></span></h3>
  </div>
  <div class="row">
    <div class="feature col-xs-12 col-sm-12 col-md-3"
      ng-repeat="item in toArray(section.features)"
      ng-class="{checked : item.checked}"
      ng-click="include_payment_processing(item, section, $event)">
      <img ng-src="{{item.image_url}}" class="img-mobile img-circle" />
      <label popover-trigger="{{{true: 'mouseenter', false: 'never'}[isPopoverEnabled]}}"
        popover-placement="bottom" popover="{{item.description}}">
        <h4 ng-bind="item.title"></h4>
        <input type="checkbox" name="list_checkbox_{{$parent.$index+3}}"
          class="hidden" ng-model="item.checked">
        <div class="checkmark">
          <img ng-src="{{item.image_url}}" class='img-responsive img-circle' />
        </div>
        <p class="description"> {{item.description}} </p>
      </label>
    </div>
  </div>
</section>

<!-- Details -->
<section class="row">
  <a class="col-xs-12 col-sm-12 col-md-12 text-center detail-reveal" data-toggle="collapse"
    href="#details_ios"
    ng-click="isShowingDetail.ios = !isShowingDetail.ios"
    >
    Click to {{isShowingDetail.ios ? 'Hide' : 'Show'}} Calculations
    <i class="fa fa-chevron-{{isShowingDetail.ios ? 'up' : 'down'}}"></i>
  </a>
</section>

<section class="well collapse" id="details_ios">
  <table class="table feature-detail">
    <thead>
      <tr>
        <td class="section-title">
          1. {{featureList.ios.app_sizes.title}}
        </td>
        <td class="man-days">Base Days</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in toArray(featureList.ios.app_sizes.features)">
        <td>
          <div class="radio-container checkbox checkbox-circle">
            <input type="checkbox" class="radio"
              id="table_radio_app_sizes_{{$index+1}}"
              name="table_radio_app_sizes"
              ng-model="item.checked"
              ng-click="uncheck_others(item, featureList.ios.app_sizes.features)">
            <label for="table_radio_app_sizes_{{$index+1}}">
              {{item.title}}
            </label>
          </div>
        </td>
        <td>
          <input type="number" id="table_quantity_app_sizes_{{$index+1}}"
            ng-model="item.days" min=0 max=50 class="form-control">
        </td>
      </tr>
    </tbody>
  </table>
  <p><em>* Number of developer days for the app core</em></p>

  <table class="table feature-detail">
    <thead>
      <tr>
        <td class="section-title">
          2. {{featureList.ios.design_levels.title}}
        </td>
        <td class="man-days">Percentage</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in toArray(featureList.ios.design_levels.features)">
        <td>
          <div class="radio-container checkbox checkbox-circle">
            <input type="checkbox" class="radio"
              id="table_radio_design_levels_{{$index+1}}"
              name="table_radio_design_levels"
              ng-model="item.checked"
              ng-click="uncheck_others(item, featureList.ios.design_levels.features)">
            <label for="table_radio_design_levels_{{$index+1}}">
              {{item.title}}
            </label>
          </div>
        </td>
        <td>
          <input type="number" id="table_quantity_design_levels_{{$index+1}}"
            ng-model="item.days" min=0 max=100 class="form-control">
        </td>
      </tr>
    </tbody>
  </table>
  <p><em>* UX/UI design required as a percentage of base app days</em></p>

  <div ng-repeat="section in toArray(featureList.ios.dev_sections)">
    <table class="table feature-detail" ng-if="features(section.features).length != 0">
      <thead>
        <tr>
          <td class="section-title">{{$index+3}}. {{section.title}}</td>
          <td class="man-days">Days</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in features(section.features)">
          <td>
            <div class="checkbox">
              <input type="checkbox"
                id="table_radio_{{$parent.$index+3}}_{{$index+1}}"
                name="table_radio_{{$parent.$index+3}}" ng-model="item.checked">
              <label for="table_radio_{{$parent.$index+3}}_{{$index+1}}">
                {{item.title}}
              </label>
            </div>
          </td>
          <td>
            <input type="number"
              id="table_quantity_{{$parent.$index+3}}_{{$index+1}}"
              ng-model="item.days" min="0" max="50" class="form-control" />
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table feature-detail percentage-detail" ng-if="features(section.features, 'percentage').length != 0">
      <thead>
        <tr>
          <td class="section-title">{{$index+3}}. {{section.title}}</td>
          <td class="man-days">Percentage</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in features(section.features, 'percentage')">
          <td>
            <div class="checkbox">
              <input type="checkbox"
                id="table_radio_{{$parent.$index+3}}_{{$index+1}}"
                name="table_radio_{{$parent.$index+3}}" ng-model="item.checked">
              <label for="table_radio_{{$parent.$index+3}}_{{$index+1}}">
                {{item.title}}
              </label>
            </div>
          </td>
          <td>
            <input type="number"
              id="table_quantity_{{$parent.$index+3}}_{{$index+1}}"
              ng-model="item.percentage" class="form-control" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <table id="day-rate" class="table feature-detail">
    <thead>
      <tr>
        <td>Design Day Rate</td>
        <td class="dev-rate">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min=0
              class="form-control currency"
              ng-model="featureList.ios.rates.design" />
          </div>
        </td>
      </tr>
      <tr>
        <td>Developer Day Rate</td>
        <td class="dev-rate">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min=0
              class="form-control currency"
              ng-model="featureList.ios.rates.dev" />
          </div>
        </td>
      </tr>
      <tr ng-if="projectManager('ios').checked">
        <td>Project Manager Day Rate</td>
        <td class="dev-rate">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min=0
              class="form-control currency"
              ng-model="featureList.ios.rates.pm" />
          </div>
        </td>
      </tr>
    </thead>
  </table>
</section>

    </div>
    <div role="tabpanel" class="android tab-pane" id="android">
      <!-- App Sizes -->
<section class="well">
  <div class="heading">
    <h3>1. <span ng-bind="featureList.android.app_sizes.title"></span></h3>
  </div>
  <div class="row">
    <div class="feature col-xs-12 col-sm-12 col-md-4"
      ng-repeat="item in toArray(featureList.android.app_sizes.features)"
      ng-class="{checked : item.checked}">
      <img ng-src="{{item.image_url}}" class="img-mobile img-circle" />
      <label popover-trigger="{{{true: 'mouseenter', false: 'never'}[isPopoverEnabled]}}"
        popover-placement="bottom" popover="{{item.description}}">
        <h4 ng-bind="item.title"></h4>
        <input type="checkbox" class="radio hidden"
          name="list_radio_app_sizes"
          ng-model="item.checked"
          ng-click="uncheck_others(item, featureList.android.app_sizes.features)">
        <div class="checkmark">
          <img ng-src="{{item.image_url}}" class="img-responsive img-circle" />
        </div>
        <p class="description"> {{item.description}} </p>
      </label>
    </div>
  </div>
</section>

<!-- Design Levels -->
<section class="well">
  <div class="heading">
    <h3>2. <span ng-bind="featureList.android.design_levels.title"></span></h3>
  </div>
  <div class="row">
    <div class="feature col-xs-12 col-sm-12 col-md-4"
      ng-repeat="item in toArray(featureList.android.design_levels.features)"
      ng-class="{checked : item.checked}">
      <img ng-src="{{item.image_url}}" class="img-mobile img-circle" />
      <label popover-trigger="{{{true: 'mouseenter', false: 'never'}[isPopoverEnabled]}}"
        popover-placement="bottom" popover="{{item.description}}">
        <h4 ng-bind="item.title"></h4>
        <input type="checkbox" class="radio hidden"
          name="list_radio_design_levels"
          ng-model="item.checked"
          ng-click="uncheck_others(item, featureList.android.design_levels.features)">
        <div class="checkmark">
          <img ng-src="{{item.image_url}}" class="img-responsive img-circle" />
        </div>
        <p class="description"> {{item.description}} </p>
      </label>
    </div>
  </div>
</section>

<!-- Dev Features -->
<section class="well"
  ng-repeat="section in toArray(featureList.android.dev_sections)"
  ng-if="section.display != false">
  <div class="heading">
    <h3><span ng-bind="$index+3"></span>. <span ng-bind="section.title"></span></h3>
  </div>
  <div class="row">
    <div class="feature col-xs-12 col-sm-12 col-md-3"
      ng-repeat="item in toArray(section.features)"
      ng-class="{checked : item.checked}"
      ng-click="include_payment_processing(item, section, $event)">
      <img ng-src="{{item.image_url}}" class="img-mobile img-circle" />
      <label popover-trigger="{{{true: 'mouseenter', false: 'never'}[isPopoverEnabled]}}"
        popover-placement="bottom" popover="{{item.description}}">
        <h4 ng-bind="item.title"></h4>
        <input type="checkbox" name="list_checkbox_{{$parent.$index+3}}"
          class="hidden" ng-model="item.checked">
        <div class="checkmark">
          <img ng-src="{{item.image_url}}" class='img-responsive img-circle' />
        </div>
        <p class="description"> {{item.description}} </p>
      </label>
    </div>
  </div>
</section>

<!-- Details -->
<section class="row">
  <a class="col-xs-12 col-sm-12 col-md-12 text-center detail-reveal" data-toggle="collapse"
    href="#details_android"
    ng-click="isShowingDetail.android = !isShowingDetail.android"
    >
    Click to {{isShowingDetail.android ? 'Hide' : 'Show'}} Calculations
    <i class="fa fa-chevron-{{isShowingDetail.android ? 'up' : 'down'}}"></i>
  </a>
</section>

<section class="well collapse" id="details_android">
  <table class="table feature-detail">
    <thead>
      <tr>
        <td class="section-title">
          1. {{featureList.android.app_sizes.title}}
        </td>
        <td class="man-days">Base Days</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in toArray(featureList.android.app_sizes.features)">
        <td>
          <div class="radio-container checkbox checkbox-circle">
            <input type="checkbox" class="radio"
              id="table_radio_app_sizes_{{$index+1}}"
              name="table_radio_app_sizes"
              ng-model="item.checked"
              ng-click="uncheck_others(item, featureList.android.app_sizes.features)">
            <label for="table_radio_app_sizes_{{$index+1}}">
              {{item.title}}
            </label>
          </div>
        </td>
        <td>
          <input type="number" id="table_quantity_app_sizes_{{$index+1}}"
            ng-model="item.days" min=0 max=50 class="form-control">
        </td>
      </tr>
    </tbody>
  </table>
  <p><em>* Number of developer days for the app core</em></p>

  <table class="table feature-detail">
    <thead>
      <tr>
        <td class="section-title">
          2. {{featureList.android.design_levels.title}}
        </td>
        <td class="man-days">Percentage</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in toArray(featureList.android.design_levels.features)">
        <td>
          <div class="radio-container checkbox checkbox-circle">
            <input type="checkbox" class="radio"
              id="table_radio_design_levels_{{$index+1}}"
              name="table_radio_design_levels"
              ng-model="item.checked"
              ng-click="uncheck_others(item, featureList.android.design_levels.features)">
            <label for="table_radio_design_levels_{{$index+1}}">
              {{item.title}}
            </label>
          </div>
        </td>
        <td>
          <input type="number" id="table_quantity_design_levels_{{$index+1}}"
            ng-model="item.days" min=0 max=100 class="form-control">
        </td>
      </tr>
    </tbody>
  </table>
  <p><em>* UX/UI design required as a percentage of base app days</em></p>

  <div ng-repeat="section in toArray(featureList.android.dev_sections)">
    <table class="table feature-detail" ng-if="features(section.features).length != 0">
      <thead>
        <tr>
          <td class="section-title">{{$index+3}}. {{section.title}}</td>
          <td class="man-days">Days</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in features(section.features)">
          <td>
            <div class="checkbox">
              <input type="checkbox"
                id="table_radio_{{$parent.$index+3}}_{{$index+1}}"
                name="table_radio_{{$parent.$index+3}}" ng-model="item.checked">
              <label for="table_radio_{{$parent.$index+3}}_{{$index+1}}">
                {{item.title}}
              </label>
            </div>
          </td>
          <td>
            <input type="number"
              id="table_quantity_{{$parent.$index+3}}_{{$index+1}}"
              ng-model="item.days" min="0" max="50" class="form-control" />
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table feature-detail percentage-detail" ng-if="features(section.features, 'percentage').length != 0">
      <thead>
        <tr>
          <td class="section-title">{{$index+3}}. {{section.title}}</td>
          <td class="man-days">Percentage</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in features(section.features, 'percentage')">
          <td>
            <div class="checkbox">
              <input type="checkbox"
                id="table_radio_{{$parent.$index+3}}_{{$index+1}}"
                name="table_radio_{{$parent.$index+3}}" ng-model="item.checked">
              <label for="table_radio_{{$parent.$index+3}}_{{$index+1}}">
                {{item.title}}
              </label>
            </div>
          </td>
          <td>
            <input type="number"
              id="table_quantity_{{$parent.$index+3}}_{{$index+1}}"
              ng-model="item.percentage" class="form-control" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <table id="day-rate" class="table feature-detail">
    <thead>
      <tr>
        <td>Design Day Rate</td>
        <td class="dev-rate">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min=0
              class="form-control currency"
              ng-model="featureList.android.rates.design" />
          </div>
        </td>
      </tr>
      <tr>
        <td>Developer Day Rate</td>
        <td class="dev-rate">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min=0
              class="form-control currency"
              ng-model="featureList.android.rates.dev" />
          </div>
        </td>
      </tr>
      <tr ng-if="projectManager('android').checked">
        <td>Project Manager Day Rate</td>
        <td class="dev-rate">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min=0
              class="form-control currency"
              ng-model="featureList.android.rates.pm" />
          </div>
        </td>
      </tr>
    </thead>
  </table>
</section>

    </div>
  </div>

  <!-- Nav tabs bottom -->
  <ul class="nav nav-tabs nav-tabs-bottom summary" role="tablist">
    <li role="presentation" class="active">
      <a href="#web" aria-controls="web" role="tab" data-toggle="tab" class="web">
        <div class="zero" ng-if="!platformCostTotal('web')">
          <h3><i class="fa fa-desktop fa-fw"></i><br>Need a Web App?</h3>
          <p>(or a back-end to your mobile app)</p>
        </div>
        <div ng-if="platformCostTotal('web')">
          <h4><i class="fa fa-desktop fa-fw"></i> Web App</h4>
          <hr>
          <p>{{designDays('web')}} Designer Days ({{designDays('web')/5}} Weeks)</p>
          <p>{{devDays('web')}} Developer Days ({{devDays('web')/5}} Weeks)</p>
          <p class="cost">{{ platformCostTotal('web') | numeraljs: '$0,0[.]00' }}</p>
        </div>
      </a>
    </li>
    <li role="presentation">
      <a href="#ios" aria-controls="ios" role="tab" data-toggle="tab" class="ios">
        <div class="zero" ng-if="!platformCostTotal('ios')">
          <h3><i class="fa fa-apple fa-fw"></i><br>Need an iOS App?</h3>
        </div>
        <div ng-if="platformCostTotal('ios')">
          <h4><i class="fa fa-apple fa-fw"></i> iOS App</h4>
          <hr>
          <p>{{designDays('ios')}} Designer Days ({{designDays('ios')/5}} Weeks)</p>
          <p>{{devDays('ios')}} Developer Days ({{devDays('ios')/5}} Weeks)</p>
          <p class="cost">{{ platformCostTotal('ios') | numeraljs: '$0,0[.]00' }}</p>
        </div>
      </a>
    </li>
    <li role="presentation">
      <a href="#android" aria-controls="android" role="tab" data-toggle="tab"
        class="android">
        <div class="zero" ng-if="!platformCostTotal('android')">
          <h3><i class="fa fa-android fa-fw"></i><br>Need an Android App?</h3>
        </div>
        <div ng-if="platformCostTotal('android')">
          <h4><i class="fa fa-android fa-fw"></i> Android App</h4>
          <hr>
          <p>{{designDays('android')}} Designer Days ({{designDays('android')/5}} Weeks)</p>
          <p>{{devDays('android')}} Developer Days ({{devDays('android')/5}} Weeks)</p>
          <p class="cost">{{ platformCostTotal('android') | numeraljs: '$0,0[.]00' }}</p>
        </div>
      </a>
    </li>
  </ul>

  <!-- Nav tabs bottom for mobile version -->
  <ul class="nav nav-tabs nav-tabs-bottom summary-mobile" role="tablist">
    <li role="presentation" class="active">
      <a href="#web" aria-controls="web" role="tab" data-toggle="tab" class="web">
        <h3><i class="fa fa-desktop fa-fw"></i></h3>
      </a>
    </li>
    <li role="presentation">
      <a href="#ios" aria-controls="ios" role="tab" data-toggle="tab" class="ios">
        <h3><i class="fa fa-apple fa-fw"></i></h3>
      </a>
    </li>
    <li role="presentation">
      <a href="#android" aria-controls="android" role="tab" data-toggle="tab" class="android">
        <h3><i class="fa fa-android fa-fw"></i></h3>
      </a>
    </li>
  </ul>
</div>

<!-- Totals -->
<div class="totals well">
  <h2>Total Cost: {{ (totalCost() || 0) | numeraljs: '$0,0[.]00' }}</h2>
  <p>Based on Oozou rates. To use your own rates, click <em>Show Calculations</em> above.</p>
  <p class="disclaimer">Please note, all cost estimates are intended to be indicative of development costs and timescales only and are exclusive of all hosting costs, paid services or purchased assets of any kind. All prices are in USD and inclusive of sales tax.</p>
</div>

<!-- Save Estimate -->
<div class="save well">
  <h5>Save your estimate and get a permalink so you can share with your team</h5>

  <form class="new_estimate" id="new_estimate" action="/" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="77ELtMTC4XfX4ogyScMZ57ELMGB38jmY3Cwl5cJUXx219dTvYib2EirERk/Dv5eQp8vfa9Rc5lVH+VqWyZn+ag==" />
    <div class="field">
      <input placeholder="Enter your email address" class="form-control" type="text" name="estimate[email]" id="estimate_email" />
      <div class="checkbox">
        <input name="estimate[subscribe]" type="hidden" value="0" /><input type="checkbox" value="1" checked="checked" name="estimate[subscribe]" id="estimate_subscribe" />
        <label for="estimate_subscribe">
          Receive useful information about building apps in your inbox. No spam. Ever.
        </label>
      </div>
    </div>
    <textarea hidden="hidden" ng-bind="featureList | json" name="estimate[feature_list]" id="estimate_feature_list">
</textarea>
    <div class="actions">
      <input type="submit" name="commit" value="Save Estimate" class="btn btn-success btn-lg" data-disable-with="Save Estimate" />
    </div>
</form></div>



    <footer class="foot">
      <div class="brand">
        <a href="https://www.oozou.com" target="_blank">
          <img data-hidpi-src="https://d3h99m5mv5zvgz.cloudfront.net/assets/logo@2x-f4f4e34d59e6dc117a8c87af0e6e99f95d4bb4c4c6514aff4bb629ad1969aa5b.png" class="logo" src="https://d3h99m5mv5zvgz.cloudfront.net/assets/logo-b1f749be3707b4fed1203c68395b51117e84e64f0747c438bc072d66eb6b595c.png" alt="Logo" />
        </a>
      </div>
      <div class="copyright">
        &copy; 2015 Oozou
      </div>
    </footer>
  </div>

  <script src="app.js" data-turbolinks-track="true" async="async"></script>


</body>
</html>
