<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <link rel="canonical" href="https://gradient.com/profile/muzzammil-zaveri/">
    <title>Muzzammil (MZ) Zaveri - Gradient Ventures</title>

    <meta name="google-site-verification" content="iNS9I-TcJimRz2vaKHw1671G4m6tLb2snGW5UgrxxwE" />
    <meta name="google-site-verification" content="JwLD6maGxoiKuUhapHIqBVQfWYR15uVo2c0TMhQl_ks" />

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gradient Ventures">
    <meta property="og:url" content="https://gradient.com/profile/muzzammil-zaveri/">
    <meta property="og:title" content="Muzzammil (MZ) Zaveri - Gradient Ventures">
    <meta property="og:image:secure_url" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20(2).png">
    <meta property="og:image" content="https://storage.googleapis.com/gradient-site-assets/unnamed%20(2).png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="en">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="gradientvc">
    <meta name="twitter:creator" content="gradientvc">
    <meta name="twitter:title" content="Muzzammil (MZ) Zaveri - Gradient Ventures">

    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon-16x16.png">

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CGoogle+Sans:400,500">
    <link href="../../static/css/main.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="../../static/js/main.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103590973-01"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-103590973-01', { 'page_referrer' : document.referrer.split('?')[0] });
    </script>
  </head>
  <body add-browser-name>
    <div class="main">

<div class="header" data-scroll-header
  ng-controller="navController as navCtrl">
  <div class="header__logo">
    <a href="../../index.html" title="Starter">
        <img
      src="../../static/images/logo.svg"
  >

    </a>
  </div>

  <nav class="header__nav">
        <ul class="header__nav__list">
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../portfolio/index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../team/index.html">
          Team
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__link
          " href="../../blog/index.html">
          Blog
        </a>
      </li>
  </ul>

  </nav>

  <div class="header__nav-drawer">
      <div class="header__nav-drawer__overlay"
        ng-click="navCtrl.toggleNavDrawer()">
      </div>
    <nav class="header__nav-drawer__menu">
      <a href="../../index.html" title="Starter" class="header__nav-drawer__logo">
          <img
      src="../../static/images/single-color-logo.png"
  >

        <span>Gradient Ventures</span>
      </a>
        <ul class="header__nav-drawer__list">
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../philosophy/index.html">
          Philosophy
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../portfolio/index.html">
          Portfolio
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../team/index.html">
          Team
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../jobs/index.html">
          Jobs
        </a>
      </li>
      <li class="header__nav-drawer__item">
        <a class="header__nav-drawer__link
          " href="../../blog/index.html">
          Blog
        </a>
      </li>
  </ul>

    </nav>
  </div>

  <div class="header__mobile-nav-toggle">
    <button class="header__burger-icon"
      ng-click="navCtrl.toggleNavDrawer()">
    </button>
  </div>

</div><div class="profile profile--team">
  <div class="profile__wrapper">
    <div class="profile__hero">
      <div class="profile__hero__overlay"></div>
          <div class="profile__hero__image">
              <img
      src="https://lh3.googleusercontent.com/0lQlpgZrNgiCh8ZbeMGIQr9-v8AKnTMEocFq8YFXGGGLo9n6BXcZ7UeLsXlnRsoHhGb17xS3AVoOBXU7EvzColF1DaGhNKqpy22GPQ=s2880"
  >

          </div>
        <div class="profile__hero__content">
          <h1 class="profile__hero__content__title">Muzzammil (MZ)</h1>
          <h1 class="profile__hero__content__title">Zaveri</h1>
          <p class="profile__hero__content__desc">Partner</p>
          <div class="profile__hero__content__icons">
            <a href="mailto:mz+external@gradient.com">
              <svg role="img" class="h-c-icon h-c-icon--24px h-c-icon--social">
                <use xlink:href="#mi-mail"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/mzaveri/">
              <svg role="img" class="h-c-icon h-c-icon--24px h-c-icon--social">
                <use xlink:href="#social-linkedin"></use>
              </svg>
            </a>
            <a href="https://twitter.com/mzaveri">
              <svg role="img" class="h-c-icon h-c-icon--24px h-c-icon--social">
                <use xlink:href="#social-twitter"></use>
              </svg>
            </a>
          </div>
        </div>
    </div>

    <div class="profile__bio">
      <div class="profile__bio__icons">
        <a href="mailto:mz+external@gradient.com">
          <svg role="img" class="h-c-icon h-c-icon--24px h-c-icon--social">
            <use xlink:href="#mi-mail"></use>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/mzaveri/">
          <svg role="img" class="h-c-icon h-c-icon--24px h-c-icon--social">
            <use xlink:href="#social-linkedin"></use>
          </svg>
        </a>
        <a href="https://twitter.com/mzaveri">
          <svg role="img" class="h-c-icon h-c-icon--24px h-c-icon--social">
            <use xlink:href="#social-twitter"></use>
          </svg>
        </a>
      </div>
      <p>Muzzammil is a Partner at Gradient Ventures.</p> 

<p>Muzzammil began his career co-founding Proxino, a Y Combinator (S11) backed startup in the JavaScript error detection space.</p> 

<p>Prior to joining Gradient, Muzzammil was part of the venture team at Kleiner Perkins Caufield and Byers (KPCB). While there, he was actively involved with investments in BuddyBuild (acquired by Apple), Incorta, FullStory, UJET,  Figma, Zumper and Feather. During his tenure there he helped spearhead their renewed seed stage investing efforts.</p>

<p>Prior to Kleiner, he was part of Tencent’s investment team in Palo Alto, CA focusing primarily on early-stage investments. At Tencent he worked on investments in companies such as Vurb (acquired by Snapchat), Tile, Satellogic, and Weebly to name a few.</p> 

<p>Muzzammil was featured on 2018 Forbes 30 Under 30 in Venture Capital. He holds a BA in Computer Science from the University of Virginia.</p>
    </div>
  </div>
</div>

<div class="contact-form"
  data-action="https://services.google.com/fb/submissions/gradientventures/"
  ng-controller="contactFormController as contactFormCtrl">
  <div class="contact-form__title">
    Gradient Ventures updates delivered straight to your inbox
  </div>
  <div class="contact-form__result" ng-if="contactFormCtrl.isSuccess">
    Thank you, we&#39;ll be in touch.
  </div>
  <form
    ng-if="!contactFormCtrl.isSuccess"
    class="contact-form__form"
    name="contactForm"
    ng-submit="contactFormCtrl.subscribe(contactForm, user)">
      <input type="hidden" name="LanguagePreference" value="en">
      <input type="hidden" name="GradientUpdates" value="TRUE">
      <input class="contact-form__field" type="text" name="name"
        ng-model="user.name" required
        placeholder="Name">
      <span class="contact-form__feedback" ng-show="contactForm.name.$invalid &&
        contactForm.name.$touched">
        Your name is required.
      </span>
      <input class="contact-form__field" type="email" name="EmailAddress"
        ng-model="user.email" required
        placeholder="Email address">
      <span class="contact-form__feedback" ng-show="contactForm.email.$error.required &&
        contactForm.email.$touched">
        Your email is required.
      </span>
      <span class="contact-form__feedback"  ng-show="contactForm.email.$error.email &&
        (contactForm.email.$touched && contactForm.email.$dirty)">
        Enter a valid email address.
      </span>
      <p class="contact__form__disclaimer">
        Sign up to receive newsletters from Gradient Ventures. Your information will be used in accordance with Google&#39;s privacy policy. You may opt out at any time.
      </p>
        <button
      propagate-query-string
      type="submit"
      class="button button--uppercase"
      >
      Subscribe
  </button>

  </form>
</div><div class="footer">
  <div class="footer__nav">
    <div class="footer__nav__links">
      <div class="footer__nav__links__item">
        <a href="https://www.google.com">  <img
      src="https://www.google.com/earth/education/images/google-bw-logo.svg"
  >
</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://google.ai">Google.ai</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/privacy/">Privacy</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://www.google.com/policies/terms/">Terms</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://about.google/">About Google</a>
      </div>
      <div class="footer__nav__links__item">
        <a href="https://sites.google.com/corp/google.com/gradient/">Founders Portal</a>
      </div>
    </div>
  </div>
  <div class="footer__disclaimer">
    
  </div>
</div>    </div>
  </body>
</html>